<%= form_for(resource, as: resource_name, url: session_path(resource_name),
             html:         { class: 'form-signin' }) do |f| %>

  <span id="reauth-email" class="reauth-email"></span>
  <div class="form-group">
    <%= f.label :email, 'Email' %>
    <%= f.email_field :email, class: 'form-control',
                      autocomplete:  'off',
                      placeholder:   "Your email address..." %>
  </div>

  <div class="form-group">
    <%= f.label :password, 'Password' %>
    <%= f.password_field :password, class: 'form-control',
                         autocomplete:     'off',
                         placeholder:      "Your password..." %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div id="remember" class="checkbox session-font">
    </div>
  <% end %>
  <%= f.submit 'Log in to ResourceNote', class: 'btn btn-lg btn-primary btn-block btn-signin' %>
<% end %>
<br><br>
<span class="request-link">
<span style="font-size:14px;"> Don't have an account? </span>
<strong>
<%#= link_to "Request one!".html_safe, 'http://bit.ly/theme-notes' %>
<%= link_to "Sign up now!", new_user_registration_path %>
</strong>
</span>



<% if false %>
<!doctype html>
<html lang="en">
<head>
  <%= render partial: 'app/title',
             locals:  {
                 title: 'Log in'
             }
  %>

  <%= stylesheet_link_tag 'auth/users/sessions', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'auth/users/sessions', 'data-turbolinks-track': 'reload' %>
  <script>
      $(document).on('turbolinks:load', function () {
          <%= yield :script %>
      });
  </script>
</head>

<body>

<div class="container">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card"
         src="<%= asset_path 'favicon_master.png' %>" />

    <div class="row justify-content-center">
      <div class="col-8">
        <%= render partial: 'app/logo', locals: { logo: false, size: 'small' } %>
      </div>
    </div>

    <div class="mt-4">
      <%= render partial: 'app/flash_messages', locals: { flash: flash } %>
    </div>

    <%= yield :content %>

    <div class="row">
      <div class="col">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name),
                     html:         { class: 'form-signin'}) do |f| %>

          <span id="reauth-email" class="reauth-email"></span>
          <div class="form-group">
            <%= f.label :email, 'Email' %>
            <%= f.email_field :email, class: 'form-control',
                              autocomplete:  'off',
                              placeholder:   "Your email address..." %>
          </div>

          <div class="form-group">
            <%= f.label :password, 'Password' %>
            <%= f.password_field :password, class: 'form-control',
                                 autocomplete: 'off',
                                 placeholder:  "Your password..." %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div id="remember" class="checkbox session-font">
            </div>
          <% end %>
          <%= f.submit 'Log in to ResourceNote', class: 'btn btn-lg btn-primary btn-block btn-signin' %>
        <% end %>
        <br><br>
        <span class="request-link">
          <span style="font-size:14px;"> Don't have an account? </span>
          <strong>
          <%= link_to "Request one!".html_safe, 'http://bit.ly/theme-notes' %>
          </strong>
        </span>
      </div>

    </div>
  </div><!-- /card-container -->
</div><!-- /container -->
<footer>
  <div class="container">
    <div class="col-md-10 offset-1 text-center">
      <h6 style="font-size:14px;font-weight:100;color: #fff;">
        <i class="fa fa-heart red" style="color: #BC0213;"></i>
        <a href="" style="color: #fff;" target="_blank">xiankt</a>
      </h6>
    </div>
  </div>
</footer>
</body>
<% end %>


