  <a class=""
     data-toggle="tooltip"
     title="Toggle theme notes"
     href="javascript:void(0);"
     onclick="javascript:toggleThemeNotes(<%= theme.id %>);">
    <%= ionic_icon('list-box', '') %>
  </a>
