 /*
  Main note editor view for Theme/Note:
  lists resources and subnotes alongside
 */



// 1. replace collapse triangle bullet link with collapsible code link
// => first click loads it, subsequent clicks toggle section content
$('#<%= "theme-#{@theme.id}-section-title" %>').replaceWith(
    function () {
        return (
            '<%= j render partial: 'app/resourceships/section_title',
                  locals: {
                  theme: @theme,
                  project: @project,
                  on_click: :hide } %>'
        );
    }
);


// 2. Make sure contents div is open
$('#<%= "theme-#{@theme.id}-contents" %>')
    .attr('class', 'row collapse show pt-2 theme-contents');


// 3.1 add resources to sidebar
$('#<%= "theme-#{@theme.id}-resources" %>').html(
    function () {
        return (
            '<%= j render partial: 'app/resourceships/list',
                  locals: {
                    project: @project,
                    theme: @theme,
                    enable_links: true
                  }
            %>'
        );
    }
);

// 3.2 add sub notes to side bar => really need to stop doing this and 2.1
$('#<%= "theme-#{@theme.id}-sub_notes" %>').html(
    function () {
        return (
            '<%= j render partial: 'app/themes/sub_notes/list',
                  locals: {
                    theme: @theme
                  }
            %>'
        );
    }
);


// 3.3 load details: description and tags (theme + resource)
/*$('#<%#= "theme-#{@theme.id}-details" %>').replaceWith(
    function () {
        return (
            '<%#= j render partial: 'app/themes/details',
                  locals: {
                    theme: @theme,
                  }
            %>'
        );
    }
);*/


// 4. load main note editor
$('#<%= "theme-#{@theme.id}-note-editor" %>').html(
    function () {
        return (
            '<%= j render partial: 'app/notes/editor',
                          locals: {
                            type:         'theme',
                            id:           @theme.id,
                            object:       @project_theme_assignment,
                            project_id:   @project.id,
                            url: "/themes/#{@theme.id}/note",
                            show_close: false,
                          }
            %>'
        );
    }
);


 /*   Set up dropdown animations  */
let childDiv = false;

// init accordion icons for only current section
// chevron for main section title
$('#<%= "theme-#{@theme.id}-contents" %>')
    .on('show.bs.collapse', function () {
        if (!childDiv) {
            $('#<%= "theme-#{@theme.id}-section-title" %>')
                .find('.fa')
                .removeClass('fa-chevron-right')
                .addClass('fa-chevron-down orange')

        }
    }).on('hide.bs.collapse', function () {
    if (!childDiv) {
        $('#<%= "theme-#{@theme.id}-section-title" %>')
            .find('.fa')
            .removeClass('fa-chevron-down')
            .addClass('fa-chevron-right')
    }
})

// chevron + title for resources section
$('#<%= "theme-#{@theme.id}-sidebar-resources" %>')
    .on('show.bs.collapse', function () {
        childDiv = true
        $(this).parent().find('.fa')
            .removeClass('fa-chevron-down').addClass('fa-chevron-up orange')

        $('#<%= "theme-#{@theme.id}-sidebar-resources-label" %>')
            .removeClass('theme-text-color').addClass('orange')
    }).on('hide.bs.collapse', function () {
    childDiv = true
    $(this).parent().find('.fa')
        .removeClass('fa-chevron-up orange').addClass('fa-chevron-down')

    $('#<%= "theme-#{@theme.id}-sidebar-resources-label" %>')
        .removeClass('orange').addClass('theme-text-color')
});

// chevron + title for sub-notes section
$('#<%= "theme-#{@theme.id}-sidebar-subnotes" %>')
    //    .find('theme-resources')
    .on('show.bs.collapse', function () {
        childDiv = true
        $(this).parent().find('.fa')
            .removeClass('fa-chevron-down').addClass('fa-chevron-up orange')
        $('#<%= "theme-#{@theme.id}-sidebar-subnotes-label" %>')
            .removeClass('theme-text-color').addClass('orange')
    }).on('hide.bs.collapse', function () {
    childDiv = true
    $(this).parent().find('.fa')
        .removeClass('fa-chevron-up orange').addClass('fa-chevron-down')
    $('#<%= "theme-#{@theme.id}-sidebar-subnotes-label" %>')
        .removeClass('orange').addClass('theme-text-color')
});


/*  process flash   */
<%= render partial: 'app/flash_messages_js',
            locals: { flash: flash, object: @notifier_object } %>

initJS();


//setupLoadingAjaxSpinner();

