$('#<%= "theme-#{@theme.id}-note-viewer" %>').replaceWith(
    function () {
        return (
            '<%= j render partial: 'app/notes/viewer',
                      locals:  {
                         type:  'theme',
                         id:    @theme.id,
                         color: @theme.flag_key,
                         notes: @theme.notes_for_project(@project),
                         border: true
                } %>'
        );
    }
);

// unhide note viewer (hidden by default)
$('#<%= "theme-#{@theme.id}-note-viewer" %>').show();

// TODO: replace icon with toggle
$('#<%= "theme-#{@theme.id}-note-toggle" %>').replaceWith(
    function () {
        return (
            '<%= j render partial: 'app/themes/notes/toggle_link',
                          locals: {
                            theme: @theme
                          }
                %>'
        );
    }
);


initJS();
