hideTooltips();



$('#<%= "theme-#{@theme.id}-note-editor" %>').html(
    function () {
        return (
            '<%= j render partial: 'app/notes/editor',
                          locals: {
                            type:         'theme',
                            id:           @theme.id,
                            object:       @project_theme_assignment,
                            project_id:   @project.id,
                            url: "/themes/#{@theme.id}/note",
                            show_close: false,
                          }
            %>'
        );
    }
);



<%= render partial: 'app/flash_messages_js',
            locals: { flash: flash, object: @notifier_object } %>