<p>
  <span class="regular-text resource-jump code" title="Citation" data-toggle="tooltip">

    <!--<span style="position: relative;top: 3px;" >
      <%#= oiconic_icon 'double-quote-serif-right', '' %>
    </span>-->

    <% if enable_links %>
    <%= link_to resource.pretty_code,
                resource_citation_path(resource),
                class:  "jqueryModal"
    %>
    <% else %>
    <%= resource.pretty_code %>
    <% end %>

  </span>
</p>
