
<span class="resource-title align-middle"><%= resource.title %></span>

<p class="resource-authors regular-text">
  <%# if resource.academic? %>
<!--    <span> <%#= fa_icon 'graduation-cap', class: 'theme-icon-fontawesome' %> </span>-->
  <%# end %>

  <%# if resource.web_resource? %>
<!--    <span><%#= fa_icon 'globe', class: 'theme-icon-fontawesome' %></span>-->
  <%# end %>

  <%= resource.authors %>

  <%= "(#{resource.year_published})" if resource.year_published.present? %>
</p>


<%# if show_code %>
  <%= render partial: 'app/resources/display_code',
             locals:  {
                 resource:     resource,
                 enable_links: enable_links
             }
  %>
<%# end %>