<!--NB: to be housed in a <div class="row"></div> container-->


<% if cite_only %>
<!--  show only citation fields -->
  <div class="col-3 form-group">
    <%= render partial: "app/resources/forms/fields/code", locals: { f: f } %>
  </div>

  <div class="col-9 form-group">
    <%= render partial: "app/resources/forms/fields/citation_field",
               locals:  {
                   f:            f,
                   show_options: false
               }
    %>
  </div>

  <%= hidden_field_tag :entry_type, 'data' %>
  <%#= hidden_field_tag 'resource[citation_format]', 'bib-string' %>

<% else %>

<!-- show all regular fields-->
  <%= hidden_field_tag :entry_type, 'field' %>

  <div class="col-12 form-group mb-0">
    <%= label_tag :title, "Title", class: "label" %>
    <%= render partial: 'app/required_label' %>
    <%= f.text_field :title, class: "form-control form-isti position-static" %>
    <small class="form-text label-description">
      Enter the title for this resource e.g. 'Advanced Research Methods'
    </small>
  </div>

  <div class="col-12 form-group mb-0">
    <div class="row">

      <div class="col-6 form-group">
        <%= render partial: "app/resources/forms/fields/code", locals: { f: f } %>
      </div>

      <div class="col-6 form-group">
        <%= label_tag :link, "URL", class: "label" %>
        <%= f.text_field :link, class: "form-control form-isti position-static" %>
        <small class="form-text label-description">
          Enter a link to the resource if online e.g. https://example.com/
        </small>
      </div>
    </div>
  </div>

  <div class="col-12 form-group mb-0">
    <div class="row">
      <div class="col-6 form-group">
        <%= label_tag :authors, "Author(s)", class: "label" %>
        <%= f.text_field :authors, class: "form-control form-isti position-static" %>
        <small class="form-text label-description">Enter the names of any
          authors associated with this resource e.g. Hollande, F.; Doe, J.
        </small>
      </div>
      <div class="col-6 form-group">
        <%= label_tag :year_published, "Year", class: "label" %>
        <%= f.text_field :year_published, class: "form-control form-isti position-static" %>
        <small class="form-text label-description"></small>
      </div>
    </div>
  </div>

  <div class="col-12 form-group mb-0">

    <%= label_tag :abstract, "Abstract", class: "label" %>
    <%= f.text_area :abstract, class: "form-control form-isti position-static", rows: "3" %>
    <br>

    <%#= label_tag :notes, "Notes", class: "label" %>
    <%#= f.text_area :notes, class: "form-control form-isti position-static", rows: "3" %>

        <%= render partial: "app/resources/forms/fields/citation_field",
                   locals:  {
                       f:            f,
                       show_options: true # NB: fn disabled though
                   }
        %>

  </div>
<% end %>

<%= hidden_field_tag :theme_id, @theme.try(:id) %>
<%= hidden_field_tag :project_id, @project.try(:id) %>
