<% if resources.empty? %>
  <%= render partial: 'app/no_content_found',
             locals:  {
                 content: 'resource'
             }
  %>
<% else %>
    <% resources.each do |resource| %>
      <%= render partial: 'app/resources/section',
                 locals:  {
                     resource: resource,
                 }
      %>
    <% end %>

  <%= render partial: 'app/pagination_load_more',
             locals:  {
                 collection: resources,
                 pagination_url: resources_path(page: resources.next_page)
             }
  %>
<% end %>


