<div class="resource" id="resource-<%= resource.id %>">

  <div class="row">
    <!--<div class="col">-->
      <!--<div class="row">-->
        <!--code-->
        <div class="col-lg-2 col-md-4 col-sm-4 code">
          <p>
            <%= link_to resource.pretty_code,
                        resource_citation_path(resource),
                        class:  "jqueryModal"
            %>
          </p>
        </div>
        <!--content-->
        <div class="col-lg-8 col-md-6 col-sm-5 resource-content">
          <%= render partial: 'app/resources/display_resource',
                     locals:  {
                         resource:  resource,
                         link:      resource_path(resource),
                         show_code: false,
                         enable_links: true
                     }
          %>
        </div>
        <!--icons-->
        <div class="col-lg-2 col-md-2 col-sm-3 resource-actions pr-0">
          <div class="float-right pr-2">

            <!--menu-->


            <div class="btn-group">
              <button class="btn btn-link btn-sm dropdown-toggle"
                      type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                <%#= oiconic_icon('menu', '') %>
                <%= ionic_icon('more', '') %>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">

                <li>

                  <%#= link_to 'View notes',
                              edit_resource_note_path(resource),
                              remote: true,
                              class: "dropdown-item"
                  %>
                </li>

                <li>
                  <%= link_to 'View citation',
                              resource_citation_path(resource),
                              id:            "view-citation",
                              class:         "jqueryModal dropdown-item"
                  %>
                </li>

                <li>
                  <%= link_to 'Edit',
                              edit_resource_path(resource, remote: true),
                              id:            "edit-resource-details",
                              class:         "jqueryModal dropdown-item"
                  %>
                </li>

                <div class="dropdown-divider"></div>

                <li>
                  <%= link_to 'Delete',
                              resource_path(resource),
                              remote:        true,
                              method:        :delete,
                              data:          { confirm: 'The resource will be removed completely. Are you sure?' },
                              "data-toggle": "tooltip",
                              title:         nil, #"Remove resource",
                              class:         "dropdown-item"
                  %>
                </li>

              </ul>
            </div>


            <!--end menu -->

          </div>
        </div>
      <!--</div>-->
    <!--</div>-->
  </div>

  <!-- hook for resource note editor theme-1-note -->
  <div class="row" id="resource-<%= resource.id %>-note-editor"></div>

</div>
