hideTooltips();

<% if @resource.persisted? %>
$('#<%= "resource-#{@resource.id}-note-editor" %>').replaceWith(
    function () {
        return (
            '<%= j render partial: 'app/notes/flash_messages',
                          locals: {
                            flash: flash,
                            object: @resource,
                          }
                          %>'
        );
    }
);

<% else %>
$('#<%= "resource-#{@resource.id}" %>').replaceWith(
    function () {
        return (
            '<%= j render partial: 'app/notes/flash_messages',
                          locals: {
                            flash: flash,
                            object: @resource,
                          }
                          %>'
        );
    }
);

hideNotice();

// the replace action above leaves theme-id-note-editor in DOM. remove this
setTimeout(function () {
    $('#<%= "resource-#{@resource.id}-note-editor" %>').remove();
}, 4000);
<% end  %>


