<div class="modal">

  <%= render partial: 'app/resources/forms/default',
             locals:  {
                 title:     'Edit resource details:',
                 sub_title: @resource.cite,
                 remote:    @remote
           }
%>
</div>
