
<% content_for :left do  %>
<!--  <h4 class="page-title"> Resource Library </h4>-->
<% end  %>

<% content_for :nav_search do %>
  <% unless @resources.empty? %>
      <%= search_form_for @q,
                          url:  resources_path,
                          html: { class: 'form-search' },
                          remote: true do |f| -%>
        <div class="form-group">
        <span class="oi" data-glyph="magnifying-glass"
              title="magnifying-glass" aria-hidden="true"></span>
          <%= f.search_field :code_or_title_or_authors_or_year_published_or_taggings_tag_name_cont_any,
                             class:       "form-control",
                             placeholder: "Search resources..." %>
      <% end %>
  </div>
  <% end %>
<% end %>

<% content_for :nav_actions do %>
  <span class="header-icon"  data-tippy-content="Refresh">
      <%= link_to oiconic_icon('reload', ''),
                  resources_path
      %>
   </span>

  <span id="add-resource" class="header-icon">
    <a class="dropdown-toggle oi theme-icon-oiconic" href="#"
       id="add-resource-dropdown"
       data-glyph="plus"
       role="button"
       data-toggle="dropdown"
       data-tippy-content="Add a new resource"
       aria-haspopup="true"
       aria-expanded="false">
    </a>

    <span class="dropdown-menu dropdown-menu-right" aria-labelledby="add-resource-dropdown">

      <%= link_to 'Add from details',
                  new_resource_path(form_type: 'details'),
                  id:    'add-new-resource-details',
                  class: 'jqueryModal dropdown-item'
      %>
      <%= link_to 'Add from citation',
                  new_resource_path(form_type: 'citation'),
                  id:    'add-new-resource-citation',
                  class: 'jqueryModal dropdown-item'
      %>
      <%= link_to 'Add from citations file',
                  new_resource_path(form_type: 'file'),
                  id:    'add-new-resource-file',
                  class: 'jqueryModal dropdown-item'
      %>
      </span>
  </span>

<% end %>

<%= content_for :nav_actions_more do %>
  <%= link_to 'Download resources', resources_path(format: "xlsx"),
              class: 'dropdown-item'
  %>
<% end %>



<div class="col">

  <div class="row mb-4">
    <div class="col">
      <h5 id="page-title"><%= link_to 'Resource Library', resources_path %></h5>
    </div>
    <div class="col-4 pl-1">
      <div class="dropdown show float-right">
        <a class="dropdown-toggle btn btn-go float-right py-1 mr-0"
           data-tippy-content="More"
           href="javascript:void(0)" role="button"
           data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Add a resource
        </a>
        <span class="dropdown-menu dropdown-menu-right" aria-labelledby="settingsDropdown">

              <%= link_to 'Add from details',
                          new_resource_path(form_type: 'details'),
                          id:    'add-new-resource-details',
                          class: 'jqueryModal dropdown-item'
              %>
          <%= link_to 'Add from citation',
                      new_resource_path(form_type: 'citation'),
                      id:    'add-new-resource-citation',
                      class: 'jqueryModal dropdown-item'
          %>
          <%= link_to 'Add from citations file',
                      new_resource_path(form_type: 'file'),
                      id:    'add-new-resource-file',
                      class: 'jqueryModal dropdown-item'
          %>

          <div class="dropdown-divider"></div>

          <%= link_to 'Download resources', resources_path(format: "xlsx"),
                      class: 'dropdown-item'
          %>

        </span>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col">

      <% unless @resources.empty? %>
        <%= search_form_for @q,
                            url:    resources_path,
                            html:   { class: 'form-search' },
                            remote: true do |f| -%>
          <div class="form-group">
        <span class="oi" data-glyph="magnifying-glass"
              title="magnifying-glass" aria-hidden="true"></span>
            <%= f.search_field :code_or_title_or_authors_or_year_published_or_taggings_tag_name_cont_any,
                               class:       "form-control",
                               placeholder: "Search resources..." %>
        <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>








<div class="min-height">
  <div id="resources" class="content-box mx-3">
    <%= render partial: 'app/resources/list',
               locals:  {
                   resources: @resources
               }
    %>
  </div>
</div>

