$('#ajax-operation-notice').remove();

$('.paginator').remove();

$('#resources').append(
    function () {
        return (
            '<%= j render partial: 'app/resources/list',
                          locals: {
                            resources: @resources,
                          }
                       %>'
        );
    }
);

initJS();

reInitJS();
