<div class="modal">

  <% if @form_type == 'file' %>
    <%= render partial: 'app/resources/forms/citations_file' %>

  <% elsif @form_type == 'citation' %>
    <%= render partial: 'app/resources/forms/citation_form' %>

  <% elsif @form_type == 'details' %>

    <%= render partial: 'app/resources/forms/default',
               locals:  {
                   title:     'Add resource',
                   sub_title: nil,
                   remote:    @remote
               }
    %>

  <% else %>
  No form type specified!
  <% end %>

</div>



