<div class="modal">

<%= render partial: 'app/modal_dialog_header',
           locals:  {
               title: "<a target='_blank' "\
                      "href='/resources/i/#{@resource.id}'>"\
                      "#{@resource.title}</a>".html_safe,
               sub_title: @resource.authors_year
               #"#{@resource.authors} (#{@resource.year_published})"
           }
%>

<div class="modal-body">
  <%= render partial: 'app/themes/tags',
             locals:  {
                 tags: @resource.tags
             }
  %>
  <br>
  <div class="row">
    <div class="col">

      <% if @resource.abstract.present? %>

        <%= render partial: 'app/modal_content_viewer',
                   locals:  {
                       content:      @resource.abstract,
                       content_type: 'abstract'
                   }
        %>
      <% end %>


      <div class="row">
        <div class="col">
          <h5>Notes</h5>
          <% if @resource.themes.present? %>
            <ul>
              <% @resource.themes.each do |theme| %>
                <li class="resource-theme-list" style="list-style:none">
                  <!--<span class="symbol">&#x25BA;</span>-->
                  <%= oiconic_icon 'external-link', 'grey-icon' %>
                  <%# issue here is error when theme.project is nil, i.e.
                      theme is not assigned to a project. to fix this, i'm
                      going to link to the theme in the theme index instead %>
                  <%# v2: for ResourceNote deleting a theme(note) deletes the note
                      so i should not have this problem, so using the first version
                  %>
                  <%= link_to theme.title,
                              project_themes_tid_path(
                                  id: theme.project.id,
                                  tid: theme.id
                              ),
                              target: "_blank"
                  %>
                  <%#= link_to theme.title,
                              themes_path(tid: theme.id),
                              target: "_blank"
                  %>

                </li>
              <% end %>
            </ul>
          <% else %>
            <p style="font-size: 0.85rem;">No notes linked</p>
          <% end %>
        </div>
      </div>


      <%#= render partial: 'app/modal_content_viewer',
                     locals:  {
                         content:      @resource.notes,
                         content_type: 'notes'
                     }
      %>
    </div>

  </div>
</div>

  <%= render partial: 'app/modal_dialog_footer',
           locals:  {
               f:     nil,
               save:  nil,
               close: "Close"
           }
%>
</div>
