// Hide modal
// $('#modal-remote').modal('hide');

hideTooltips();

// Update section
$('#<%= "resource-#{@resource.id}" %>').replaceWith(
    function () {
        return (
            '<%= j render partial: 'app/resources/section',
                          locals: {
                            resource: @resource
                          }
            %>'
        );
    }
);

// Display notificaion
$('#<%= "resource-#{@resource.id}-note-editor" %>').replaceWith(
    function () {
        return (
            '<%= j render partial: 'app/notes/flash_messages',
                          locals: {
                            flash: flash,
                            object: @resource,
                          }
                          %>'
        );
    }
);

hideNotice();

setTimeout(function () {
    $('#<%= "resource-#{@resource.id}-note-editor" %>').hide();
}, 4000);

//$('#theme-10').click();

//$('#theme-<%#= @theme.id %>').click();

