<%#= render partial: 'app/modal_dialog_header',
           locals:  {
               title:     "Change password",
               sub_title: nil
           }
%>

<%#= form_for(resource,
             as:   resource_name,
             url:  registration_path(resource_name),
             html: { method: :put }
    ) do |f| %>

  <%= form_for(@user, as: :user, url: registration_path(@user), html: { method: :patch }) do |f| %>

  <div class="modal-body">
    <div class="row">
      <div class="col-12 form-group">
        <%= label_tag :email, "Email", class: "label" %>
        <%= f.email_field :email,
                          class:       "form-control form-isti position-static"
        %>
      </div>
      <div class="col-6 form-group">
        <%= label_tag :password, "New password", class: "label" %>
        <%= f.password_field :password,
                             autocomplete: "off",
                             class:        "form-control form-isti position-static"
        %>
      </div>
      <div class="col-6 form-group">
        <%= label_tag :password_confirmation, "Confirm new password", class: "label" %>
        <%= f.password_field :password_confirmation,
                             autocomplete: "off",
                             class:        "form-control form-isti position-static"
        %>
      </div>
      <hr>
      <div class="col-12 form-group">
        <%= label_tag :current_password, "Enter your current password to confirm changes", class: "label" %>
        <%= f.password_field :current_password,
                             autocomplete: "off",
                             class:        "form-control form-isti position-static"
        %>
      </div>
    </div>
  </div> <!--end modal-body-->

  <%= render partial: 'app/modal_dialog_footer',
             locals:  {
                 f:    f,
                 save: 'Update',
                 close: "Close"
             }
  %>
<% end %>
