<%= form_for(@user, url: registration_path(@user)) do |f| %>
  <%#= render "devise/shared/error_messages", resource: @user %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email,
                      autofocus: true,
                      autocomplete: 'nope',
                      autofill: 'nope',
                      class: 'form-control',
                      placeholder: 'Your email address...'
    %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password,
                         autocomplete: "nope",
                         class: 'form-control',
                         placeholder: 'Your password...'

    %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, 'Confirm your password' %>
    <%= f.password_field :password_confirmation,
                         autocomplete: "nope",
                         class: 'form-control',
                         placeholder: 'Your password once more...'
    %>
  </div>

  <div class="actions">
    <%= f.submit 'Sign up!', class: 'btn btn-lg btn-primary btn-block btn-signin' %>
  </div>
<% end %>
<br><br>
<span class="request-link">
<span style="font-size:14px;"> Already have an account? </span>
<strong>
<%#= link_to "Request one!".html_safe, 'http://bit.ly/theme-notes' %>
  <%= link_to "Log in", new_user_session_path %>
</strong>
</span>

<%#= render "devise/shared/links" %>