<%= label_tag :file, "Citation", class: "label" %>

<% if f %>

  <%= f.text_area :citation,
                  class:    "form-control form-isti position-static",
                  required: show_options ? false : 'required',
                  rows:     show_options ? '3' : '20'
  %>



  <% if show_options %>
    <!-- hiding this for now to disable functionality in field form
    <small class="form-text label-description"> Enter any citation information
    </small>

  <fieldset style="display:<%#= show_options ? 'visible' : 'none' %>">
    <legend style="width:225px;">
      <span class="label-description">
        <%#= f.check_box :auto_fill %>

        &nbsp; Retrieve resource details from citation
      </span>
    </legend>

    <span class="label-description">
      <%#= f.radio_button :citation_format, 'string' %> &nbsp;
      <%#= f.label :citation_format,
                  'Text (Format: <i>Authors ; Year ; Title ; Other info </i>)'.html_safe,
                  value: 'string'
      %>
      </span>
    <br>
    <span class="label-description">
      <%#= f.radio_button :citation_format, 'bib-string', checked: true %> &nbsp;
      <%#= f.label :citation_format,
                  'BibTeX',
                  value: 'bib-string'
      %>
      </span>
  </fieldset>
    -->
    <%#= hidden_field_tag 'resource[auto_fill]', '0' %>
    <%#= hidden_field_tag 'resource[citation_format]', 'string' %>
  <% else %>
    <%#= hidden_field_tag 'resource[auto_fill]', '1' %>
    <%#= hidden_field_tag 'resource[citation_format]', 'bib-string' %>
  <% end %>

<% else %>
  <%= text_area_tag 'resource[data]',
                    nil,
                    class:    "form-control form-isti position-static",
                    required: 'required',
                    rows:     20
  %>


  <small class="form-text label-description"> NB: Currently supports only .bib
    entries
  </small>
<% end %>
