<%= label_tag :code, "Resource ID", class: "label" %>
<%= render partial: 'app/required_label' %>
<% if f %>
  <%= f.text_field :code,
                   class:        "form-control form-isti position-static",
                   required:     "required",
                   autocomplete: 'off'

  %>
<% else %>
  <%= text_field_tag 'resource[code]',
                     nil,
                     class: "form-control form-isti position-static",
                     required:     "required",
                     autocomplete: 'off'

  %>
<% end %>

<small class="form-text label-description">
  Enter a short reference name for the resource
  e.g. smith2019multitasking (25 character limit)
</small>
