/* application.css */
/*
 */


.logo {
    font-family: 'Lato', sans-serif;
    /*color: rgba(0,0,0,.9);*/
}

.logo-blue {
        color: #286090 !important;
}

.logo-white {
    color: white !important;
}

.logo-small span {
    font-size: 1.5rem;
}
.logo-large span {
    font-size: 2.3rem;
}


.logo-1 {
    font-weight: 400;
}

.logo-2 {
    font-weight: 300;
}

.dropdown-item {
    font-size: 0.8rem;
}

.footer a {
    color: #212529 !important;
}

.footer {
    font-size: 14px !important;
}
