<%= render partial: 'app/modal_title', locals: { title: title } %>


<div class="col-12 form-group mb-0">
  <%= label_tag :title, "Title", class: "label" %>
  <%= render partial: 'app/required_label' %>
  <%= f.text_field :title, class: "form-control form-isti position-static" %>
</div>

<br>

<div class="row">
  <div class="col">
    <div class="modal_footer">
      <%= button_tag button_label,
                     class: "modal-btn btn btn-go float-right" %>
    </div>
  </div>
</div>