<div class="sidebar">

  <div class="row pl-3">
    <div class="col-1 px-0">
      <a href="javascript:0;" data-toggle="collapse"
         data-target="#theme-<%= @theme.id %>-sidebar-subnotes">
        <%= fa_icon 'chevron-down',
                    class: 'theme-icon-fontawesome',
                    style: 'font-size:12px;' %>
      </a>
    </div>


    <div class="col-10 px-0">
      <a href="javascript:0;" data-toggle="collapse"
         data-target="#theme-<%= @theme.id %>-sidebar-subnotes">
      <p class="mb-0 theme-text-color pl-2" id="theme-<%= @theme.id %>-sidebar-subnotes-label">
        SUB-NOTES</p>
      </a>

    </div>

    <div class="col-1 px-0">
      <%= link_to oiconic_icon('plus', ''),
                  new_theme_sub_note_path(
                      @theme, project_id: @theme.project.id
                  ),
                  'rel': 'modal:open',
                  class: 'jqueryModalLink'

      %>
    </div>
  </div>

  <div id="theme-<%= @theme.id %>-sidebar-subnotes" class="collapse row">
    <div class="col">
      <% if @theme.sub_notes.count == 0 %>
        <div class="mb-0 theme-text-color pl-2">


          <div class="row">
            <div class="col">
              <p class="theme-description text-muted col-10">No sub-notes added</p>
            </div>
          </div>
        </div>
      <% else %>
        <% @theme.sub_notes.each do |sub_note| %>

          <%= render partial: 'app/themes/sub_notes/section',
                     locals:  {
                         sub_note: sub_note
                     }
          %>

        <% end %>
      <% end %>
    </div>
  </div>

</div>
