<div class="row">
  <div class="col">
    <div id="subnote-<%= sub_note.id %>" class="resource <%#= starred?(resourceship) %>">


      <!-- sub_note-x-notification -->
      <div id="subnote-<%= sub_note.id %>-notification"></div>

      <div class="row">
        <div class="col-11 resource-content">

          <span class="resource-title align-middle">


          <%= link_to sub_note.title,
                      edit_theme_sub_note_path(
                          sub_note.theme,
                          sub_note,
                          project_id: sub_note.theme.project.id
                      ),
                      remote:               true,
                      style:                'position: relative;bottom: 2px;',
                      class:                'edit-resource-notes',
                      "data-tippy-content": 'Edit sub-note'
              # 'data-toggle': "tooltip",
              # title:         "Edit resource notes"
          %>
          </span>
        </div>

        <!--icons-->
        <div class="col-1 px-0">

          <div class="row">
            <div class="col float-right">
              <div class="btn-group">
                <button class="btn btn-link btn-sm"
                        style="padding:0"
                        type="button"
                        data-toggle="dropdown"
                        data-tippy-content="More"
                        aria-haspopup="true"
                        aria-expanded="false">
                  <%= ionic_icon('more', '') %>
                </button>
                <div class="dropdown-menu dropdown-menu-right">

                  <%= link_to 'Edit',
                              edit_theme_sub_note_path(
                                  sub_note.theme,
                                  sub_note,
                                  project_id: sub_note.theme.project.id,
                                  remote:     true,
                              ),
                              id:    "edit-subnote-details",
                              class: "jqueryModal dropdown-item"
                      # 'data-toggle': "tooltip",
                      # title:         "Edit resource"
                  %>

                  <div class="dropdown-divider"></div>

                  <%= link_to "Delete",
                              theme_sub_note_path(
                                  sub_note.theme,
                                  sub_note,
                                  project_id: sub_note.theme.projects.first.id,
                              ),
                              remote: true,
                              method: :delete,
                              data:   { confirm: 'Delete this sub-note?' },
                              class:  'dropdown-item'
                  %>

                </div>
              </div>
            </div>



          </div>

        </div>
      </div>


      <!-- sub_note-x-note-editor -->
      <div id="subnote-<%= sub_note.id %>-note-editor"></div>


    </div>
  </div>
</div>
