// replace list
$('#<%= "theme-#{@theme.id}-sub_notes" %>').html(
    function () {
        return (
            '<%= j render partial: 'app/themes/sub_notes/list',
                  locals: {
                    theme: @theme
                  }
            %>'
        );
    }
);

// expand list
$('#theme-<%= @theme.id %>-sidebar-subnotes').addClass('show')

// show flash
<%= render partial: 'app/flash_messages_js',
            locals: { flash: flash, object: @notifier_object } %>