<%= form_for(:sub_note,
             url:    theme_sub_note_path(@theme, project_id: @theme.projects.first.id),
             method: :put,
             remote: true,
             html:   { id: 'form' }
    ) do |f| %>


  <%= render partial: 'app/themes/sub_notes/form', locals: { f: f, title: 'Edit sub-note', button_label: 'Save' } %>

<% end %>
