$('#<%= "subnote-#{@sub_note.id}-note-editor" %>').html(
    function () {
        return (
            '<%= j render partial: 'app/notes/editor',
                          locals: {
                            type: 'subnote',
                            id: @sub_note.id,
                            object: @sub_note,
                            project_id: nil,
                            show_close: true,
                            url: theme_sub_note_path(@theme, @sub_note, project_id: @project.id)
                          }
            %>'
        )
            ;
    }
);
//$('#<%#= "subnote-#{@sub_note.id}-note-editor" %>').show();