<%= form_for(:sub_note,
             url:    theme_sub_notes_path(@theme),
             remote: true,
             html:   { id: 'form' }
    ) do |f| %>


  <%= render partial: 'app/themes/sub_notes/form', locals: { f: f, title: 'New sub-note', button_label: 'Add sub-note'} %>

<% end %>
