<%#= render partial: 'app/modal_dialog_header',
           locals:  {
               title:     "Add Resource",
               sub_title: ""
           }
%>

<%= form_tag '/resources', method: 'post' do %>

  <div class="modal-body row">

    <div class="col-3 form-group">
      <%= render partial: "app/resources/forms/fields/code", locals: { f: false } %>
    </div>

    <div class="col-9 form-group">
      <%= render partial: "app/resources/forms/fields/citation_field", locals: { f: false } %>
    </div>

    <%= hidden_field_tag :entry_type, 'data' %>
    <%#= hidden_field_tag 'resource[citation_format]', 'bib-string' %>
  </div>

  <div class="modal-footer">
    <%= button_tag 'Save', class: "btn btn-go" %>
  </div>
<% end %>
