<%#= render partial: 'app/modal_dialog_header',
           locals:  {
               title: "Upload resources file",
               sub_title: ""
           }
%>

<%= form_tag '/resources', method: 'post', multipart: true do %>

  <div class="modal-body">
    <div class="col-12 form-group">
      <%= label_tag :file, "Select file containing references...", class: "label" %>
      <%= file_field_tag 'resource[file]', class: "form-control form-isti position-static", required: 'required' %>
      <small class="form-text label-description"> NB: Currently supports only .bib files </small>
    </div>
    <%= hidden_field_tag :entry_type, 'file' %>
    <%= hidden_field_tag 'resource[citation_format]', 'bib-file' %>
  </div>

  <div class="modal-footer">
    <%= button_tag 'Upload', class: "btn btn-primary btn-blue" %>
  </div>
<% end %>
