<div class="modal-body px-0">
  <!--create new resource-->
  <%= render partial: 'app/resources/fields',
             locals:  {
                 f: f,
                 cite_only: false
             }
  %>
</div> <!--end modal-body-->

<%= render partial: 'app/modal_dialog_footer',
           locals:  {
               f:     f,
               save:  'Save',
               close: "Close"
           }
%>
