<% if remote %>
  <%= render partial: 'app/resources/forms/default_remote',
             locals:  {
                 title:     'Add resource',
                 sub_title: nil
             }
  %>
<% else %>
  <%= render partial: 'app/resources/forms/default_no_remote',
             locals:  {
                 title:     'Add resource',
                 sub_title: nil
             }
  %>
<% end %>

