<%#= render partial: 'app/modal_dialog_header',
           locals:  {
               title:     title,
               sub_title: sub_title
           }
%>

<%= form_for @resource, remote: true, html: { id: 'form', autocomplete: 'off' } do |f| %>
  <%= render partial: 'app/resources/forms/default_contents',
             locals:  {
                 f: f
             }
  %>
<% end %>
