<div class="modal">

<%= render partial: 'app/modal_dialog_header',
           locals:  {
               title:    @resource.web_resource? ? (
                          @resource.title + "   " +
                              link_to(oiconic_icon('external-link', ''),
                                      @resource.link,
                                      target: '_blank',
                                      style: 'padding-left: 10px;'
                              )
                          ).html_safe : @resource.title,
               # sub_title: "#{@resource.authors} (#{@resource.year_published})"
    sub_title: @resource.authors_year
           }
%>

<div class="modal-body">
  <div class="row">
    <div class="col">

      <%= render partial: 'app/modal_content_viewer',
                 locals: {
                     content: @resource.citation,
                     content_type: 'citation'
                 }
      %>

      <% if @resource.web_resource? %>
      <div class="row">
        <div class="col">
          <p>
         <%= link_to oiconic_icon('external-link', ''),
                     @resource.link.html_safe,
                     target: '_blank'
         %>
            Available Online
          </p>
        </div>
      </div>

      <% end %>

    </div>
  </div>
</div>


</div>
