<% type = object.class.to_s.downcase %>

<% content_for :header_middle do %>
      <h3 class="page-title"> Notes on:</h3>
      <h6> <%= object.try(:cite) || object.title %> </h6>
      <p class="text-muted"><%= object.description %></p>
<% end %>

<div class="container">

<!--Theme-->
<% if type == "theme" %>
    <div class="note-section-bottom">
      <%= render partial: 'app/notes/notes',
                 locals:  {
                     notes: object.notes,
                     account: object.account
                 }
      %>
    </div>

  <%= render partial: 'app/notes/display_notes',
             locals:  {
                 resourceships:    object.resourceships.includes(:resource),
                 include_citation: true
             }
  %>

  <!--Project-->
<% elsif type == "project" %>

  <% object.themes.each do |theme| %>

    <%= render partial: 'app/notes/section_title',
               locals:  {
                   title: theme.title
               }
    %>
      <div class="note-section-bottom">
        <%= render partial: 'app/notes/notes',
                   locals:  {
                       notes: theme.notes,
                       account: theme.account
                   }
        %>
      </div>

    <%= render partial: 'app/notes/display_notes',
               locals:  {
                   resourceships:    theme.resourceships.includes(:resource),
                   include_citation: true
               }
    %>
    <br>
  <% end %>

  <!--Resources-->
<% else %>

  <%= render partial: 'app/notes/section_title',
             locals:  {
                 title: "General Notes"
             }
  %>

  <%= render partial: 'app/notes/notes',
             locals:  {
                 notes: object.notes,
                 account: object.account
             }
  %>

  <br>
  <% object.resourceships.each do |resourceship| %>
    <%= render partial: 'app/notes/section_title',
               locals:  {
                   title: resourceship.theme.title
               }
    %>

    <%= render partial: 'app/notes/display_notes',
               locals:  {
                   resourceships:    [resourceship],
                   include_citation: false
               }
    %>
  <% end %>

<% end %>

</div>
