<% resourceships.each do |resourceship| %>
  <div class="row">
    <div class="col">
      <div class="note-section" id="res-<%= resourceship.id %>">

        <div class="note-section-top">
        <% if include_citation %>
          <div class="row">
            <div class="col resource-content">
              <div class="note-title">
                <%= render partial: 'app/resources/display_resource',
                           locals:  {
                               resource:  resourceship.resource,
                               link:      nil,
                               show_code: true,
                               enable_links: true
                           }
                %>
              </div>
            </div>
          </div>
        <% end %>

        </div>

        <div class="note-section-bottom">
          <%= render partial: 'app/notes/notes',
                     locals: {
                         notes: resourceship.notes,
                         account: resourceship.account
                     }
          %>
        </div>

      </div>
    </div>
  </div>
<% end %>
