<div class="note-editor mb-3 mt-0 mx-0">
  <%= form_for object, # url:    "/#{type}s/#{id}/note",
               url:    url,
               remote: true,
               html:   { id: "edit_#{type}_#{id}" } do |f|
  %>
    <br>
    <%= render partial: 'app/notes/trix_editor', locals: { f: f } %>

    <%= hidden_field_tag :project_id, project_id %>
  <% end %>
</div>

<%= render partial: 'app/notes/header',
           locals:  {
               title:      'Notes',
               type:       type,
               id:         id,
               show_close: show_close,
           }
%>

