<div class="row text-center" id="<%= "#{object.class.to_s.downcase}-#{object.id}" %>-notification">
  <div class="col">
    <%= render partial: 'app/flash_messages', locals: { flash: flash } %>
  </div>
</div>
