
<div class="note-header">
  <div class="row">
    <div class="col">
      <div class="float-left">
        <a href="javascript:none;"
           class="btn btn-theme"
           data-toggle="tooltip"
           title="Toggle Toolbar"
           onclick="toggleEditorToolbar('<%= type %>', <%= id %>);return false;">

          <%= ionic_icon('hammer', 'Show/Hide Toolbar', 'theme-icon-ionic-white p-0') %>
        </a>
        <% if show_close %>
          <a href=""
             class="btn btn-cancel"
             data-toggle="tooltip"
             title="Close without saving"
             onclick="removeNote('<%= type %>', <%= id %>);return false;">
            <%= ionic_icon('close', 'Close without saving', 'theme-icon-ionic-white p-0') %>
          </a>
        <% end %>


      </div>
      <div class="float-right">
      <a href=""
         class="btn btn-go mx-0"
         data-toggle="tooltip"
         title="Save changes"
         onclick="saveNote('<%= type %>', <%= id %>);return false;">
        Save
      </a>




      </div>
    </div>
  </div>
</div>
