<div class="row">
  <div class="col notes">
    <p>
      <% if notes.present? %>
        <%= show_formatted_content(notes, account) %>
      <% else %>
        <span class="text-muted">No notes added</span>
      <% end %>
    </p>
  </div>
</div>
