<%# color is the object.flag_key %>

<% if notes_present?(notes) %>
  <div class="note-viewer-content <%= 'borderless' unless border %>" style="<%= border_style(color) %>">
    <div class="notes-content regular-text">
      <%= show_formatted_content(notes, current_account) %>
    </div>
  </div>
<% end %>