<% content_for :header_left do %>
  <h3 class="page-title"> Account Settings </h3>
<% end %>

<div class="row">
  <div class="col">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="account-tab" data-toggle="tab"
           href="#home" role="tab" aria-controls="home"
           aria-selected="true">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab"
           href="#profile" role="tab" aria-controls="profile"
           aria-selected="false">Profile</a>
      </li>
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" id="contact-tab" data-toggle="tab"-->
           <!--href="#contact" role="tab" aria-controls="contact"-->
           <!--aria-selected="false">Contact</a>-->
      <!--</li>-->
    </ul>

    <div class="tab-content" id="myTabContent">

      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="account-tab">
        <div class="row">
          <div class="col m-3">
            <p>
              Email: <%= current_user.email %>
            </p>
            <p class="pl-3">
              <%= link_to 'Change password',
                          edit_user_registration_path,
                          'rel': 'modal:open',
                          class: 'row'
              %>
            </p>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="row">
          <div class="col m-3">
            <div class="row">
              <div class="col-3"><p>Name: </p></div>
              <div class="col-9"><%= current_user.full_name %></div>
            </div>
            <div class="row">
              <div class="col-3"><p>Accounts:</p></div>
              <div class="col-9">1</div>
            </div>
            <div class="row">
              <div class="col-3"><p>Notebooks:</p> </div>
              <div class="col-9"><%= current_account.projects.count %></div>
            </div>
            <div class="row">
              <div class="col-3"><p>Notes:</p></div>
              <div class="col-9"><%= current_account.themes.count %></div>
            </div>
            <div class="row">
              <div class="col-3"><p>Resources:</p></div>
              <div class="col-9"><%= current_account.resources.count %></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">-->
      <!--<div class="row">-->
        <!--<div class="col m-3">-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </div>

  </div>
</div>
