<div class="modal">

<%#= render partial: 'app/modal_dialog_header',
           locals:  {
               title: "#{title} #{@project.title}",
               sub_title: nil
           }
%>
  <%= render partial: 'app/modal_title', locals: { title: title } %>

<%= form_for @project, html: {id: 'form'}  do |f| %>
    <div class="modal-body">
      <%#= render partial: 'app/projects/form',
                     locals: { f: f, action: 'Edit' }
      %>

      <div class="form-group">
        <%= label_tag :title, "Title", class: "label" %> <%= render partial: 'app/required_label' %>
        <%= f.text_field :title,
                         required: 'required',
                         class: "form-control form-isti"
        %>
        <!--<small id="" class="form-text text-muted"></small>-->
      </div>
      <div class="form-group">
        <%= label_tag :description, "Description", class: "label" %>
        <%= f.text_area :description,
                        class: "form-control form-isti",
                        rows: "2"
        %>
      </div>
    </div>

  <%= render partial: 'app/modal_dialog_footer',
             locals: {
                 f: f,
                 save: "Save",
                 close: nil
             }
  %>
<% end %>
</div>
