<% if projects.empty? %>

  <%= render partial: 'app/no_content_found',
             locals:  {
                 content: 'notebook'
             }
  %>

<% else %>
  <% pinned = projects.pinned.present? %>

  <% if pinned %>
    <div class="row">
      <div class="col text-center"><p class="project-category">Pinned</p></div>
    </div>

  <div class="d-flex flex-wrap flex-row">
    <% projects.pinned.each do |project| %>
      <%= render partial: 'app/projects/section',
                 locals:  {
                     project: project
                 }
      %>
    <% end %>
  </div>
    <br>
    <div class="row">
      <div class="col text-center"><p class="project-category">Others</p></div>
    </div>
  <% end %>


  <div class="d-flex flex-wrap flex-row">
    <% projects.unpinned.each do |project| %>
      <%= render partial: 'app/projects/section',
                 locals:  {
                     project: project
                 }
      %>
    <% end %>
  </div>

  <%= render partial: 'app/pagination_load_more',
             locals:  {
                 collection:     projects,
                 pagination_url: projects_path(page: projects.next_page)
             }
  %>
<% end %>

