<div class="col-lg-4 col-md-6 col-sm-6 p-1">
  <div class="project">
    <div class="col-12">
      <div class="row">
        <div class="col-10 p-0">
          <h6 class="mb-0 mt-2">
            <%= link_to project.title, project_url(project) %>
          </h6>
        </div>

        <div class="col-2 p-0">
          <div class="btn-group float-right">
            <button class="btn btn-link btn-sm dropdown-toggle"
                    type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              <%#= oiconic_icon('menu', '') %>
              <%= ionic_icon('more', '') %>
              <%#= fa_icon 'ellipsis-v', class: 'theme-icon-oiconic' %>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <%= link_to 'Open', project_url(project),
                          class: 'dropdown-item'
              %>

              <% if project.pinned? %>
                <%= link_to 'Unpin',
                            project_path(
                                project,
                                project: { pinned: false },
                                pin: '1'
                            ),
                            method: :put,
                          class: 'dropdown-item'
              %>
              <% else %>
                <%= link_to 'Pin',
                            project_path(
                                project,
                                project: { pinned: true },
                                pin: '1'
                            ),
                            method: :put,
                            class:  'dropdown-item'
                %>
              <% end %>


              <%= link_to 'Edit',
                          edit_project_path(project.id),
                          class: 'dropdown-item jqueryModal',
                          id:    'edit-project'
              %>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="<%= project_path(project) %>"
                 data-method="delete"
                 data-confirm="This will delete the notebook '<%= project.title %>' permanently. Are you sure?">
                Delete
              </a>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- title-->

    <div class="col-12 p-0">
      <p class="text-muted m-0" style="font-size: 0.8rem;"> <%= project.description %> </p>
    </div> <!-- description-->

  </div> <!-- project-->
</div>

