<div class="col">

  <div class="row mb-4">
    <div class="col">

      <div class="row">
        <div class="col">
          <h5 id="page-title"><%= link_to 'Notebooks', projects_path %></h5>
        </div>
        <div class="col">
          <%= link_to 'Create a notebook',
                      new_project_path,
                      id:    "add-project",
                      class: "jqueryModal btn btn-go float-right py-1 mx-0"
          %>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <% unless @projects.empty? %>
        <%= search_form_for @q,
                            url:    projects_path,
                            html:   { class: 'form-search' },
                            remote: true do |f| -%>
          <div class="form-group">
            <span class="oi" data-glyph="magnifying-glass" title="magnifying-glass" aria-hidden="true"></span>
            <%= f.search_field :title_cont_any,
                               class:       "form-control",
                               placeholder: "Search notebooks..." %>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>



<div class="min-height-themes">
  <div id="projects" class="content-box m-3">
    <%= render partial: 'app/projects/list',
               locals: {
                   projects: @projects
               }
    %>
  </div>
</div>





