$('#ajax-operation-notice').remove();

$('.paginator').remove();

$('#projects').append(
    function () {
        return (
            '<%= j render partial: 'app/projects/list',
                          locals: {
                            projects: @projects
                          }
                       %>'
        );
    }
);

initJS();

reInitJS();
