

<div class="col">
  <div class="row">
    <div class="col-10">
      <h5 id="page-title"><%= link_to @project.title, @project %></h5>
      <div class="row" id="page-description">
        <div class="col">
          <p class="text-muted"><%= @project.description %></p>
        </div>
      </div>
    </div>

    <div class="col-2">

      <div class="row">



          <div class="col-6">
            <%= link_to 'Create a note',
                        new_project_theme_path(@project),
                        id:    "add-new-theme",
                        class: "jqueryModal btn btn-go py-1",
                        title: 'Add new note'
            %>

          </div>


          <div class="dropdown show offset-2 col-4">
            <a class="dropdown-toggle btn btn-more py-1 mr-0 text-center"
               style="font-size: 1rem;"
               data-tippy-content="More"
               href="javascript:void(0)" role="button"
               data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              <%= ionic_icon('more', '', 'theme-icon-ionic-white p-0') %>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="settingsDropdown">
              <%= link_to 'Download Notebook', project_path(@project, format: "xlsx"), class: 'dropdown-item' %>

              <%= link_to 'Edit Notebook',
                          edit_project_path(@project.id),
                          id:    "edit-project",
                          class: "jqueryModal dropdown-item"
              %>

              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="<%= project_path(@project) %>" data-method="delete" data-confirm="This will delete the current notebook permanently. Are you sure?">Delete</a>
            </div>
          </div>

      </div>


    </div>
  </div>

  <div class="row">
    <div class="col">

      <% unless @project_themes.empty? %>
        <%= render partial: 'app/themes/actions',
                   locals:  {
                       q:                @q,
                       search_form_path: project_path(@project),
                       add_theme_path:   new_project_theme_path(@project),
                       remote:           true,
                       placeholder:      "Search notes in #{@project.title}..."
                   }
        %>
      <% end %>
    </div>
  </div>
</div>


<div id="themes" class="content-box mx-3">
  <%= render partial: 'app/themes/list',
             locals:  {
                 themes:  @project_themes,
                 project: @project,
                 type:    'project'
             }
  %>
</div>

