$('#ajax-operation-notice').remove();

$('.paginator').remove();

$('#themes').append(
    function () {
        return (
            '<%= j render partial: 'app/themes/list',
                          locals: {
                            themes:   @project_themes,
                            project:  @project,
                            type:     'project'
                          }
                       %>'
        );
    }
);

initJS();

reInitJS();

