$('#<%= "resourceship-#{@resourceship.id}-note-editor" %>').html(
    function () {
        return (
            '<%= j render partial: 'app/notes/editor',
                          locals: {
                            type: 'resourceship',
                            id: @resourceship.id,
                            object: @resourceship,
                            project_id: nil,
                            show_close: true,
                            url: "/resourceships/#{@resourceship.id}/note"\
                                 "?project_id=#{@resourceship.project_id}"\
                                 "&theme_id=#{@resourceship.theme_id}",
                          }
            %>'
        )
            ;
    }
);
$('#<%= "resourceship-#{@resourceship.id}-note-editor" %>').show();