    <%= search_form_for q,
                        url:    search_form_path,
                        html:   { class: 'form-search' },
                        remote: remote do |f| -%>
      <div class="form-group">
        <span class="oi" data-glyph="magnifying-glass"
              title="magnifying-glass" aria-hidden="true"></span>
        <%= f.search_field :title_or_description_or_projects_title_or_resources_authors_or_resources_title_or_resources_code_or_taggings_tag_name_cont_any,
                           class:       "form-control py-1",
                           placeholder: placeholder %>
      </div>
    <% end %>
