<!--<div class="row theme-details" id="theme-<%#= theme.id %>-details">-->
<!--  <div class="col">-->

    <%#= render partial: 'app/themes/description',
               locals:  {
                   description: theme.description,
                   project:     false
               }
    %>

    <%= render partial: 'app/themes/tags',
               locals:  {
                   tags: theme.tags + theme.resource_tags
               }
    %>


    <%#= render partial: 'app/themes/tags',
               locals:  {
                   tags: theme.resource_tags
               }
    %>
<!--  </div>-->
<!--</div>-->
