<div class="modal">

<%#= render partial: 'app/modal_dialog_header',
           locals:  {
               title:     title,
               sub_title: theme ? theme.title : nil
           }
%>
  <%= render partial: 'app/modal_title', locals: {
      title: title } %>

<%= form_for([project, theme], remote: true, html:{id: 'form'}) do |f| %>
    <div class="modal-body">

      <% unless @assign_project %>
      <div class="form-group">
        <%= label_tag :title, "Title",
                      class: "label" %>
        <%= render partial: 'app/required_label' %>

        <%# if theme.persisted? %>
          <%= f.text_field :title,
                           class:    "form-control form-isti",
                           required: 'required'
          %>
        <%# else %>
        <% #removing for v2 resourcenote %>
          <%#= autocomplete_field_tag "theme[title]",
                                     '',
                                     autocomplete_theme_title_themes_path,
                                     class:    'form-control form-isti',
                                     required: 'required'
          %>
        <%# end %>
      </div>

        <div class="form-group">
          <%= label_tag :tag_tokens, "Keywords", class: "label" %>

          <%= f.text_field :tag_tokens,
                           data:  { load: theme.tags },
                           class: 'form-control form-isti form-tags'
          %>

        </div>

        <div class="form-group">
        <%#= label_tag :description, "Description", class: "label" %>
        <%#= f.text_area :description, class: "form-control form-isti", rows: "2",
                        placeholder: ""
        %>
        </div>

        <% if false %>
        <div class="form-group">
        <%= label_tag :flag, "Flag", class: "label" %>
        <br>
        <div class="row">
        <% Theme::FLAG_BGD.each do |flag| %>
            <div class="col pr-0" style="border:0">
              <%= f.radio_button :flag, flag[0] %>
              <div class="flag_square ml-2 mb-3" style="border-color: <%= Theme::FLAG_BRD[flag[0].to_sym] %>; background: <%= Theme::FLAG_BGD[flag[0].to_sym]; %>">
                &nbsp;
              </div>
            </div>
        <% end %>
        </div>

      </div>
        <% end %>

      <% end %>

      <%#
       project.nil? => adding new theme from index, need the 'Add to' field to show
      | @assign_project => assigning theme from index, need the 'Add to'
      %>

      <%# if project.nil? || @assign_project %>
      <% if @assign_project %>
        <div class="form-group">
          <%= label_tag :project_id, "Add to", class: "label" %>
          <%= f.collection_select :project_id,
                                  @project_list,
                                  :id,
                                  :title,
                                  {
                                      include_blank: '',
                                  },
                                  {
                                      class:       "form-control form-isti selector",
                                      placeholder: ""
                                  }
          %>
        </div>
        <small class="form-text label-description">
          <%= oiconic_icon('info', '') %>
          Keep your themes organised using projects. See help for more information.
        </small>
      <% end %>

      <% if @assign_project %>
        <%= hidden_field_tag 'opt', 'assign-project' %>
      <% end %>

      <% if @account_theme %>
        <%= hidden_field_tag 'opt', 'account-theme' %>
      <% end %>

    </div>

  <%= render partial: 'app/modal_dialog_footer',
             locals:  {
                 f:    f,
                 save: 'Save',
                 close: "Close"
             }
  %>
<% end %>
</div>
