<% if false %>
<% if themes.empty? %>
  <div class="row">
    <div class="col m-5 p-3">
      <div class="d-flex justify-content-center">
        <h4 class="text-muted">No notes found</h4>
      </div>
    </div>
  </div>
<% else %>
  <% themes.each do |theme| %>
    <%= render partial: 'app/themes/section_account',
               locals: {
                   theme: theme,
               }
    %>
  <% end %>

  <%= render partial: 'app/pagination_load_more',
             locals:  {
                 collection: themes,
                 pagination_url: themes_path(themes.next_page)
             }
  %>
<% end %>
<% end %>


