<% if themes.empty? %>
  <%= render partial: 'app/no_content_found',
             locals:  {
                 content: 'note'
             }
  %>
<% else %>

  <% themes.each do |theme| %>
      <%= render partial: "app/themes/section_#{type}",
                 locals:  {
                     theme:   theme,
                     project: project
                 }
      %>
  <% end %>

  <%= render partial: 'app/pagination_load_more',
             locals:  {
                 collection:     themes,
                 pagination_url: type == 'project' ? project_path(project, page: themes.next_page) : themes_path(page: themes.next_page)
             }
  %>
<% end %>
