<div id="theme-<%= theme.id %>" class="theme theme-account px-3" <%= background_style(theme.flag_key) %> >
  <!-- hook for theme flash message -->
  <div class="row" id="theme-<%= theme.id %>-note-editor"></div>

  <div class="row">
    <div class="col-10">
          <span class="theme-title"> <%= theme.title %> </span>
          <%#= render partial: 'app/themes/description',
                     locals:  {
                         description: theme.description,
                         project:     false
                     }
          %>
      <%= render partial: 'app/themes/tags',
                 locals:  {
                     tags: theme.tags + theme.resource_tags
                 }
      %>

      <% if theme.projects.present? %>
        <%= render partial: 'app/themes/description',
                   locals:  {
                       description: themes_resources_by_project_links(theme),
                       project:     true
                   }
        %>
      <% end %>

    </div>

    <div class="col-2">
      <div class="theme-actions float-right">
        <div class="btn-group">
          <button class="btn btn-link btn-sm"
                  type="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
            <%#= oiconic_icon('menu', '') %>
                    <%= ionic_icon('more', '') %>
          </button>
          <div class="dropdown-menu dropdown-menu-right">

            <%= link_to 'Add to project',
                        edit_theme_path(theme, opt: 'assign-project'),
                        id:            "add-to-projec",
                        class:         "jqueryModal theme-jump dropdown-item"
            %>


            <%= link_to 'Edit',
                        edit_theme_path(theme, opt: 'account-theme'),
                        id:            "edit-theme-details",
                        class:         "jqueryModal theme-jump dropdown-item"
            %>

            <div class="dropdown-divider"></div>

            <%= link_to 'Delete',
                        theme_path(theme),
                        remote:        true,
                        method:        :delete,
                        class:         'dropdown-item',
                        data:          {
                            confirm: "Are you sure you want "\
                                 "to delete this theme? This action "\
                                 "cannot be undone."
                        }
            %>


          </div>
        </div>
        <!--end resources-->

      </div>
    </div>
  </div>

</div>
