<div class="theme px-3" id="theme-<%= theme.id %>"
     <%= background_and_border_style(theme.flag_key) %> >
  <!-- theme listing-->
  <div class="row">

    <div class="col-lg-10 col-sm-9 mt-1">
      <!--  v2 collapsible title-->
      <%= render partial: 'app/resourceships/section_title',
                 locals:  {
                     theme:    theme,
                     project:  project,
                     on_click: :load_note
                 }
      %>
    </div>

    <div class="col-lg-2 col-sm-3">
      <div class="theme-actions float-right">
        <div class="row">
          <!-- more menu -->
          <div class="col-3">
            <div class="btn-group">
              <button class="btn btn-link btn-sm"
                      type="button"
                      data-tippy-content="More"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false">
                <%= ionic_icon('more', '') %>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <!-- settings -->

                <%= link_to 'Edit',
                            edit_project_theme_path(project, theme),
                            id:    "edit-theme-details",
                            # 'rel': 'modal:open',
                            class: "jqueryModal dropdown-item"
                %>

                <div class="dropdown-divider"></div>
                <!--delete-->

                <%= link_to 'Delete',
                            theme_path(theme),
                            remote:        true,
                            method:        :delete,
                            class:         'dropdown-item',
                            data:          {
                                confirm: "Are you sure you want "\
                                 "to delete this note? This action "\
                                 "cannot be undone."
                            }
                %>

              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <!-- END theme listing-->

  <!--    theme notifications-->
  <div id="theme-<%= theme.id %>-notification"></div>
  <!-- START theme contents -->
  <div id="theme-<%= theme.id %>-contents" class="row collapse show theme-contents">


    <div class="left-sidebar col-md-8 col-12">

      <!-- hook for theme notes theme-x-note-editor -->

      <div id="theme-<%= theme.id %>-note-editor"></div>

    </div>


    <div class="right-sidebar col-md-4 col-12">
      <!-- hook for theme resources theme-1-resources -->
      <div class="theme-resources" id="theme-<%= theme.id %>-resources"></div>

<!--      <div class="sidebar-divider" id="theme-<%#= theme.id %>-sidebar-divider" style="display: none;"></div>-->

      <!-- theme-x-sub_notes-->
      <div class="theme-resources" id="theme-<%= theme.id %>-sub_notes"></div>
    </div>


  </div>
  <!-- END theme contents-->
</div>