<% if tags.count > 0 %>

<!--<div class="mt-2">-->
  <div class="row">
    <div class="col">

        <div class="d-flex align-content-start flex-wrap">
          <% tags.each do |tag| %>
            <span class="tag"><%= tag.name %> </span>
          <% end %>
        </div>

    </div>
  </div>
<!--</div>-->

<% end %>
