$('#themes').html(
    function () {
        return (
            '<%= j render partial: "app/themes/list",
                          locals: {
                            themes:   @themes,
                            project:  @project,
                            type:     @type
                          }
                       %>'
        );
    }
);

$('#flash-hook').replaceWith(
    function () {
        return (
            '<%= j render partial: 'app/flash_messages_header',
                          locals: {
                            flash: flash,
                            object: @themes.first,
                          }
                          %>'
        );
    }
);

initJS();

reInitJS();