
hideTooltips();

<% if @theme.persisted? %>
$('#<%= "theme-#{@theme.id}-note-editor" %>').replaceWith(
    function () {
        return (
            '<%= j render partial: 'app/notes/flash_messages',
                          locals: {
                            flash: flash,
                            object: @theme,
                          }
                          %>'
        );
    }
);

<% else %>
// Display flash notificaion in place of theme content
$('#<%= "theme-#{@theme.id}" %>').replaceWith(
    function () {
        return (
            '<%= j render partial: 'app/notes/flash_messages',
                          locals: {
                            flash: flash,
                            object: @theme,
                          }
                          %>'
        );
    }
);

// the replace action above leaves theme-id-note-editor in DOM. remove this
setTimeout(function () {
    $('#<%= "theme-#{@theme.id}-note-editor" %>').remove();
}, 3000);

<% end %>

// hideNotice();


