$('#ajax-operation-notice').remove();

$('.paginator').remove();

<% type = @project && @project.themes.include?(@account_themes.first) ? 'project' : 'account' %>

var updateView = function () {
        return (
            '<%= j render partial: 'app/themes/list',
                          locals: {
                            themes:   @account_themes,
                            project:  @project,
                            type:     type
                          }
                       %>'
        );
    }

var themeContainer = $('#themes');

<% if @action == 'replace' %>
themeContainer.html(updateView());
<% else %>
themeContainer.append(updateView());
<% end %>


initJS();

reInitJS();


