
<% content_for :nav_actions do %>
  <span id="form-clear" class="header-icon" data-tippy-content="Refresh">
    <%= link_to oiconic_icon('reload', ''),
                themes_path
    %>
  </span>

  <span class="header-icon"  data-tippy-content="Add new theme">
    <%= link_to oiconic_icon('plus', ''),
                new_theme_path,
                id:            "add-new-theme",
                class:         "jqueryModal"

    %>
  </span>
<% end %>

<% content_for :nav_actions_more do %>
  <% link_to "No. of notes: #{@account_themes.count}", '#', class: 'dropdown-item' %>
<% end %>

<% content_for :nav_search do %>
  <% unless @account_themes.empty? %>
  <%= render partial: 'app/themes/actions',
             locals:  {
                 q:                @q,
                 search_form_path: themes_path,
                 add_theme_path:   new_theme_path,
                 remote:           true,
                 placeholder:      "Search themes..."
             }
  %>
  <% end %>
<% end %>


<div class="min-height">
  <div id="themes" class="content-box mx-3">

    <%= render partial: 'app/themes/list',
               locals:  {
                   themes:  @account_themes,
                   project: nil,
                   type:    'account'
               }
    %>
  </div>
</div>
