hideTooltips();

<% if @assign_project || @account_theme %>
// Update section
$('#<%= "theme-#{@theme.id}" %>').replaceWith(
    function () {
        return (
            '<%= j render partial: 'app/themes/section_account',
                          locals: {
                            theme: @theme
                          }
            %>'
        );
    }
);
<% elsif @remove_project  %>

$('#<%= "theme-#{@theme.id}" %>').replaceWith(
    function () {
        return (
            '<%= j render partial: 'app/notes/flash_messages',
                          locals: {
                            flash: flash,
                            object: @theme,
                          }
                          %>'
        );
    }
);

<% else %>
// Update section
$('#<%= "theme-#{@theme.id}" %>').replaceWith(
    function () {
        return (
            '<%= j render partial: 'app/themes/section_project',
                          locals: {
                            theme: @theme,
                            project: @project
                          }
            %>'
        );
    }
);

<% end %>


<%= render partial: 'app/flash_messages_js',
            locals: { flash: flash, object: @notifier_object } %>

initJS();

reInitJS();
