<% unless fields %>
  <%= link_to_new_resourceship_form(
          'fields',
          'Create from details',
          '',
          'btn btn-theme',
          project,
          theme,
      )
  %>
<% end %>

<% unless citation %>
  <%= link_to_new_resourceship_form(
          'citation',
          'Create from citation',
          '',
          'btn btn-theme',
          project,
          theme,
      )
  %>
<% end %>

<% unless existing %>
  <%= link_to_new_resourceship_form(
          'existing',
          'Select from Library',
          '',
          'btn btn-theme',
          project,
          theme,
      )
  %>
<% end %>
