  <div class="row">
    <div class="col-12 form-group">

      <%= label_tag :code, "Select an existing resource",
                    class: "label" %>

      <%= f.collection_select :resource_id,
                              @theme.available_resources,
                              :id,
                              :label,
                              {},
                              class:         "form-control form-isti selector",
                              include_blank: true
      %>
    </div>
  </div>

