$('#<%= "resource-#{@resource.id}-note-editor" %>').replaceWith(
    function() {
        return(
            '<%= j render partial: 'app/notes/editor',
                          locals: {
                            type:       'resource',
                            id:         @resource.id,
                            object:     @resource,
                            project_id: nil,
                            url: "/resources/#{@resource.id}/note"
                          }
            %>'
        );
    }
);

initJS();

// close dropdown-menu
$('ul.dropdown-menu').removeClass('show');
