<%= render partial: 'app/modal_dialog_header',
           locals:  {
               title: @resource.title,
               # sub_title: "#{@resource.authors} (#{@resource.year_published})"
    sub_title: @resource.authors_year
           }
%>

<div class="modal-body">
  <div class="row">
    <div class="col">
      <div class="row mb-3">
        <div class="col bottom-border">
          <h6>Themes:</h6>
          <% if @resource.themes.present? %>
            <ul>
              <% @resource.themes.each do |theme| %>
                <li class="resource-theme-list" style="list-style:none">
                  <!--<span class="symbol">&#x25BA;</span>-->
                  <%= oiconic_icon 'external-link', 'grey-icon' %>
                  <%= link_to theme.title,
                              project_themes_tid_path(
                                  theme.project,
                                  tid: theme.id
                              ),
                              target: "_blank"
                  %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p style="font-size: 0.85rem;">No notes added here</p>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <h6>Notes: </h6>
        </div>
        <div class="col-6 float-right">
          <div class="float-right">
            <%#= link_to oiconic_icon('external-link', 'grey-icon'),
                        resource_note_path(@resource),
                        "data-toggle": "tooltip",
                        title:         "More",
                        target:        "_blank"
            %>
          </div>
        </div>
      </div>
      <%= render partial: 'app/notes/notes',
                 locals:  {
                     notes: @resource.notes,
                     account: @resource.account
                 }
      %>

    </div>
  </div>
</div>

<%= render partial: 'app/modal_dialog_footer',
           locals: {
               f: nil,
               save: nil,
               close: "Close"
           }
%>
