$('#<%= "resource-#{@resource.id}-note-editor" %>').replaceWith(
    function () {
        return (
            '<%= j render partial: 'app/notes/flash_messages',
                          locals: {
                            flash: flash,
                            object: @resource
                          }
            %>'
        );
    }
);

hideNotice();

hideTooltips();
