<div class="sidebar">
  <!-- hook for details: description and tags-->
  <!--<div class="theme-details" id="theme-<%#= @theme.id %>-details"></div>-->


  <!-- hook for resource tags -->
  <!--<div class="theme-resource-tags" id="theme-<%#= @theme.id %>-resource-tags"></div>-->


  <div class="row pl-3">

    <div class="col-1 px-0">
      <a href="javascript:0;" data-toggle="collapse" data-target="#theme-<%= @theme.id %>-sidebar-resources">
        <%= fa_icon 'chevron-down',
                    class: 'theme-icon-fontawesome',
                    style: 'font-size:12px;' %>
      </a>
    </div>

    <div class="col-10 px-0">
      <a href="javascript:0;" data-toggle="collapse" data-target="#theme-<%= @theme.id %>-sidebar-resources">
      <p class="mb-0 theme-text-color pl-2" id="theme-<%= @theme.id %>-sidebar-resources-label">
        RESOURCES
      </p>
      </a>
    </div>

    <div class="col-1 px-0">
      <%= link_to_new_resourceship_form(
              'citation',
              oiconic_icon('link-intact'),
              'Attach a resource',
              '',
              @project,
              @theme,
          )
      %>
    </div>

  </div>

  <div id="theme-<%= @theme.id %>-sidebar-resources" class="collapse row">
    <div class="col">
      <% resources = @theme.resources_for_project(@project) %>

      <% if resources.count == 0 %>

        <div class="mb-0 theme-text-color pl-2">
          <%= render partial: 'app/resources/none' %>

        </div>
      <% else %>
        <% resources.each do |resource| %>

          <%= render partial: 'app/resourceships/section',
                     locals:  {
                         project:      @project,
                         resourceship: resource.resourceship_for_project_theme(@project, @theme),
                         enable_links: enable_links
                     }
          %>

        <% end %>
      <% end %>
    </div>

  </div>


</div>
