<div id="resourceship-<%= resourceship.id %>-note-toggle">
  <% if resourceship.notes.present? %>
    <div style="padding-top:4px">
      <a class=""
         data-toggle="tooltip"
         title="Toggle resource notes"
         href="javascript:void(0);"
         onclick="javascript:toggleResNotes(<%= resourceship.id %>);">
        <%#= oiconic_icon('spreadsheet', '') %>
        <%= ionic_icon('list-box', '') %>
      </a>
    </div>
  <% end %>
</div>
