<% # resourceship = resource.resourceship_for(theme) %>
<% resource, theme = resourceship.resource, resourceship.theme %>

<div class="row">
  <div class="col">
    <div class="resource <%= starred?(resourceship) %>"
         id="resourceship-<%= resourceship.id %>">
<!-- <%#= border_style(theme.flag_key) %>>-->

      <!-- resourceship-x-notification-->
      <div id="resourceship-<%= resourceship.id %>-notification"></div>

      <div class="row">
        <div class="col-11 resource-content">

          <%= link_to (render partial: 'app/resources/display_resource_list_item', locals: { resource: resource, enable_links: enable_links }),
                      edit_resourceship_note_path(
                          resourceship,
                          theme_id:   theme.id,
                          project_id: project.id
                      ),
                      remote:               true,
                      style:                'position: relative;bottom: 2px;',
                      class:                'edit-resource-notes',
                      "data-tippy-content": 'Edit resource notes'
              # 'data-toggle': "tooltip",
              # title:         "Edit resource notes"
          %>

        </div>

        <!--icons-->
        <div class="col-1 px-0">

              <% if enable_links %>

                <div class="btn-group">
                  <button class="btn btn-link btn-sm"
                          style="padding:0"
                          type="button"
                          data-toggle="dropdown"
                          data-tippy-content="More"
                          aria-haspopup="true"
                          aria-expanded="false">
                    <%= ionic_icon('more', '') %>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">

                    <% if resourceship.starred? %>
                      <%= link_to 'Unflag',
                                  resourceship_favourite_path(
                                      resourceship,
                                      resourceship: {
                                          starred: false
                                      }
                                  ),
                                  remote: true,
                                  method: :patch,
                                  id:     "unstar-resourceship",
                                  class: "dropdown-item"
                      %>
                    <% else %>
                      <%= link_to 'Flag',
                                  resourceship_favourite_path(
                                      resourceship,
                                      resourceship: {
                                          starred: true
                                      }
                                  ),
                                  remote: true,
                                  method: :patch,
                                  id:     "star-resourceship",
                                  class:  "dropdown-item"
                      %>
                    <% end %>


                    <a href="#"
                       class="dropdown-item"
                       onclick="insertResourceLink(
                           '<%= theme.id %>',
                           '<%= resource.id %>',
                           '<%= resource.pretty_code %>');return false;">
                      Mention
                    </a>



                    <%= link_to 'Edit',
                                edit_resource_path(
                                    resource,
                                    theme_id:   theme.id,
                                    project_id: project.id,
                                    remote:     true
                                ),
                                id:            "edit-resource-details",
                                class:         "jqueryModal dropdown-item",
                                'data-toggle': "tooltip",
                                title:         "Edit resource"
                    %>

                    <div class="dropdown-divider"></div>

                    <%= link_to "Remove from note",
                                project_theme_resourceship_path(
                                    project,
                                    theme,
                                    resourceship
                                ),
                                remote: true,
                                method: :delete,
                                data:   { confirm: 'The resource will no longer be linked to this theme, but will still be available in the Resource Library. Are you sure?' },
                                class:  'unlink-resource dropdown-item'
                    %>

                  </div>
              <% end %>

            </div>

        </div>
      </div>

      <!-- resourceship note editor hook resourceship-x-note-editor -->
      <div id="resourceship-<%= resourceship.id %>-note-editor"></div>

    </div>
  </div>
</div>
