<span id="theme-<%= theme.id %>-section-title" class="theme-section-title">
 <a id="theme-<%= theme.id %>-link"
    data-toggle="collapse"
    href="#theme-<%= theme.id %>-contents"
    aria-expanded="false"
    aria-controls="theme-<%= theme.id %>-contents">

   <span class='flag-<%= theme.flag %> pr-1'>
     <% if on_click == :load_note %>
    <%= fa_icon('chevron-right', class: 'theme-icon-fontawesome', style: 'font-size:10px') %>
       <% else %>

     <%= fa_icon('chevron-down', class: 'orange', style: 'font-size:10px') %>
     <% end %>
  </span>
</a>



<span class="theme-title">
  <% if on_click == :load_note %>
    <%= link_to theme.title,
                edit_theme_note_path(
                    theme,
                    project_id: project.id
                ),
                remote: true,
                id:     "theme-#{theme.id}-link"
    %>
  <% else %>


    <a id="theme-<%= theme.id %>-link"
       data-toggle="collapse"
       href="#theme-<%= theme.id %>-contents"
       aria-expanded="false"
       aria-controls="theme-<%= theme.id %>-contents">
      <span class='pr-1 orange'>
        <%= theme.title %>
      </span>
</a>

  <% end %></span>


</span>