<div class="modal">

  <div class="row">
    <div class="col">
      <%=
        link_to(@project.title,
                project_themes_tid_path(@project, tid: @theme.id),
                title: 'Open project',
                'data-toggle': 'tooltip'
        )
      %>
      <%= link_to oiconic_icon('external-link', ''),
                  project_themes_tid_path(@project, tid: @theme.id)
      %>
    </div>
  </div>

  <div class="row my-1">
    <div class="col" style="text-align: center;">
      <span style="text-align: center;"> <%= @theme.title %> </span>
    </div>
  </div>




  <%= render partial: 'app/resourceships/list',
                 locals: {
                     project: @project,
                     theme: @theme,
                     enable_links: false
                 }
      %>


</div>
