// replace resourceships list
$('#<%= "theme-#{@theme.id}-resources" %>').html(
    function () {
        return (
            '<%= j render partial: 'app/resourceships/list',
                  locals: {
                    project: @project,
                    theme: @theme,
                    enable_links: true
                  }
            %>'
        );
    }
);

// expand list
$('#theme-<%= @theme.id %>-sidebar-resources').addClass('show')

// show flash
<%= render partial: 'app/flash_messages_js',
            locals: { flash: flash, object: @notifier_object } %>

initJS()