<%= form_for(:resource,
             url:    project_theme_resourceships_path(@project, @theme),
             remote: true,
             html:   { id: 'form' }
    ) do |f| %>


  <%= render partial: 'app/modal_title', locals: { title: @form_title } %>


  <% if @citation %>
    <%= render partial: "app/resourceships/forms/citation_form", locals: { f: f } %>
  <% end %>

  <% if @fields %>
    <%= render partial: "app/resourceships/forms/fields_form", locals: { f: f } %>
  <% end %>

  <% if @existing %>
    <%= render partial: "app/resourceships/forms/select_existing_form", locals: { f: f } %>
  <% end %>

  <br>


  <div class="row">
    <div class="col">
      <div class="modal_footer">
        <%= render partial: 'app/resourceships/forms/nav_buttons',
                   locals:  {
                       project:  @project,
                       theme:    @theme,
                       citation: @citation,
                       fields:   @fields,
                       existing: @existing
                   }
        %>
        <%= button_tag "Attach",
                       class: "modal-btn btn btn-go float-right"
        %>
      </div>
    </div>
  </div>

<% end %>
