<%= render partial: 'app/modal_dialog_header',
           locals:  {
               title: "Note - #{@resourceship.theme.title}".html_safe,
               sub_title: @resourceship.resource.cite
           }
%>

<div class="modal-body">
  <!--
  <div class="row">
    <div class="col notes">
      <%#= show_formatted_content(@resourceship.notes.presence || "No notes added") %>
    </div>
  </div>
  -->

  <%= render partial: 'app/notes/notes',
             locals: {
                 notes: @resourceship.notes,
                 account: @resourceship.account
             }
  %>

</div>

<%= render partial: 'app/modal_dialog_footer',
           locals: {
               f: nil,
               save: nil,
               close: "Close"
           }
%>
