/* app.css */


/*
 *= require application
 *= require bootstrap/css/bootstrap
 *= require open-iconic/css/open-iconic.min
 *= require app/narrow-jumbotron
 *= require select2
 *= require introjs
 *= require trix
 *= require font-awesome
 *= require jquery-ui/autocomplete
 *= require token-input-facebook
 *= require jquery-modal/jquery.modal.min
 */

//*//= //require //select2-bootstrap

//@import "alertify";
//@import "alertify/default";
//@import "alertify/bootstrap";

$blue1: #286090;
$orange1: #d17a22;
$red1: #ce2d4f;
$pink1: #ce6d8b;
$green1: #4c9f70;


$green2: #28a745;
$red: #dc3545;
$homepg-blue: #007bff;
$blue2: #3a92d9;
$text-gray-1: #666;
$text-gray-2: #4a4949;

$blue-bgcolor: #f1f8ff;
$blue-bgcolor-3: #f3f7ff;
$blue-bgcolor-2: #eef4fc;
$blue-border-color: #c8e1ff; //#a5cefc
$blue-border-color-1: #e2ecff;

$blue-border-setting: 1px solid $blue-border-color; //.07rem solid $border-color;
$blue-border-setting-2: 1px solid $blue-bgcolor; //.07rem solid $border-color;

$gray-bgcolor-gt: #fafbfc;
$gray-bgcolor-tn: #f8f9fa;
$gray-bgcolor-goog: #fafafa;
$gray-bgcolor-dark: #3d4852;

$gray-border-color: #f1f8ff;
$gray-border-color-1: #E0E7ED;
$gray-border-color-2: #e1e4e8;

$gray-border-setting: 1px solid $gray-border-color; //.07rem solid $border-color;
$gray-border-setting-2: 1px solid $gray-border-color-2; //.07rem solid $border-color;
$gray-border-setting-2-thick: 2px solid $gray-border-color-2; //.07rem solid $border-color;

$border-radius: .15rem;


$text-color-rich-blue: #017BFF;
$text-color-rich-green: #2ECC71;


$icon-color-blue: $text-color-rich-blue;

$icon-text-shadow: 0 1px 0 #fff;

$empty-color: #777;

$theme-icon-color: $blue1;
$theme-text-color: $blue1;

$body-text-color: $text-gray-1;
$body-icon-color: $body-text-color;


body {
  color: $body-text-color;
}

a, a:hover {
  color: $body-text-color;
}



.form-control:focus {
  border-width: 2px;
  border-color: $theme-icon-color;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  //-moz-box-shadow: 0 0 0 0.2rem #9ae8bb;
  //-webkit-box-shadow: 0 0 0 0.2rem #9ae8bb;
  //box-shadow: 0 0 0 0.2rem #9ae8bb;
}

.border-settings {
  //rgba(0,0,0,.15);
  border-bottom: .05rem solid #e5e5e5;
  border-bottom: .05rem solid #d8d6d9;
  border-bottom: .05rem solid #e5e5e5;
  border-bottom: .05rem solid #eee;
  border-bottom: 1px solid #ccc;
  border-bottom: .06rem solid #d8d6d9;
  border-bottom: .05rem solid #e5e5e5;
  border-bottom: 1px solid #e9ecef;
  border-bottom: .05rem solid #e5e5e5;
  border-bottom: .05rem solid #eee;
}

.project {
  //border-bottom: $gray-border-setting-2;
  //background: $gray-bgcolor-goog;
  background: white;
  padding:0.7rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid $gray-border-color-1;
  height: 6.5rem;
}

.project a {
  text-decoration: none;
  color: $theme-text-color;
}

.project a:hover {
  color: $theme-text-color;
}

.project-category {
  text-transform: uppercase;
  font-size: 10px;
}

.section {
 /*padding-bottom: 1 rem;*/
  border-bottom: $gray-border-setting;
}

.form-search {
  //padding-top: 1rem;
}

.form-search input {
    font-size:14px;
    /*font-weight: 300;*/
    //border-radius: 1px;
  //padding-top: 1rem;
  //padding-bottom: 1rem;
    //-webkit-box-shadow: 0 0 0 1px #ededed, 0 0 0 2px transparent;
    //-moz-box-shadow: 0 0 0 1px #ededed, 0 0 0 2px transparent;
    //box-shadow: 0 0 0 1px #ededed, 0 0 0 2px transparent;
    //border: 0;
    padding-left: 40px;
  border: 1px solid $gray-border-color-1;
}

.form-search input::placeholder { color: #cfd2d5;  font-style: italic; }

.form-search .oi {
    display: block;
    position: absolute;
  top: 8px;
    left: 30px;
    //color: #b0b0b0;
  color: $gray-border-color-1;
}

.form-control {
  color: $body-text-color !important;
}

.form-section-divider {
    border-top: 1px solid #e9ecef;
    margin: 0.3rem;
}

.token-input-list-facebook {
  font-size: 14px;
  border-radius: $border-radius;
  border-color: $gray-border-color-1 !important;
  width: inherit !important;
}

div.token-input-dropdown-facebook {
  border: solid 1px $gray-border-color-1;
  border-top: 0;
}

.form-isti {
    font-size: 14px;
    border-radius: $border-radius;
  border-color: $gray-border-color-1;
    /*padding-top: 1rem;*/
    /*padding-bottom: 1rem;*/
    //-webkit-box-shadow: 0 0 0 1px #ededed, 0 0 0 2px transparent;
    //-moz-box-shadow: 0 0 0 1px #ededed, 0 0 0 2px transparent;
    //box-shadow: 0 0 0 1px #ededed, 0 0 0 2px transparent;
}

/*.form-control {*/
/*display: block;*/
/*width: 100%;*/
/*padding: .375rem .75rem;*/
/*font-size: 1rem;*/
/*line-height: 1.5;*/
/*color: #495057;*/
/*background-color: #fff;*/
/*background-clip: padding-box;*/
/*border: 1px solid #ced4da;*/
/*border-radius: .25rem;*/
/*transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;*/
/*}*/


.header-container {
  //border-bottom: $gray-border-setting-2;
  //padding-bottom: 2rem;
  //margin-top:3rem;
}

#header-left-mid-right {
  //border-bottom: solid 2px $gray-bgcolor-dark;
  background:white;
}

.theme {
  padding: 0.4rem;
  margin-top: 10px;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
  //padding-right: 10px;
  //border-left: 2px solid;
  //border-top: $gray-border-setting-2;
  border: 2px solid $gray-border-color-1;
}

.theme-account {
  //-webkit-border-radius: 0px !important;
  //-moz-border-radius: 0px !important;
  //border-radius: 0px !important;
  //margin-bottom: 0px !important;
  //border-top: 1px solid $blue-border-color-1;
  border: 1px solid $gray-border-color-1;
}

.theme a, .resource a {
  //color: #8da6bf;
}

//.theme-project a {
//  color: #6c757d !important;
//  text-decoration: underline;
//}

.theme-project a {
  color: #fff !important;
  background: $text-color-rich-green;
  padding: 2px 5px;
  margin-right: 5px;
  font-size:10px;
}


p.theme-project {
  padding-left: 0;
  margin-top:5px;
}


.resource a {
}

.theme a:hover, .resource a:hover {
    text-decoration: none;
}

.theme p {
   //font-size: 0.85rem;
  font-size: small;
  color: #4a4949;
  padding-left:0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.theme-icon-oiconic {
    font-size: 11px;
    padding-right: 0.4em;
  color: $theme-text-color;
  text-shadow: $icon-text-shadow;
}

.theme-btn-icon-oiconic {
  text-shadow: $icon-text-shadow;
    color: #fff;
}

.theme-icon-ionic {
  text-shadow: $icon-text-shadow;
    /*padding-right: 0.17em;*/
    padding-right: 0.4em;
    //font-size: 14px;
  color: $theme-text-color;
  font-size: 16px;
}

.theme-icon-fontawesome {
  text-shadow: $icon-text-shadow;
  color: $theme-text-color !important;
}

.with-divider {
  border-left: $gray-border-setting-2;
    padding-left: 10px;
}

.resource {
  font-size: 0.85rem;
  padding: 0.4rem;
  //border: solid 1px $gray-border-color-1;
  //border-top: solid 1px $blue-border-color-1;
  //margin-top: 10px;
  background: #ffffff;
  /*-webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;*/
  border-top: 1px solid $orange1;
}

#resources > .resource {
  border-top: 1px solid $gray-border-color-1;
}



#resources {
  border: 2px solid $gray-border-color-1;
  border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
}

.resource p {
    font-size: 0.8rem;
}

.resource-content p {
  margin-bottom:0;
  padding:0;
}

.resource-title a, .resource-title {
  text-decoration: none!important;
  color: $theme-icon-color !important;
}

.resource-authors {
   font-size: 0.7rem;
    /*color: #8da6bf!important;*/
}

.theme-actions {
    /*float:right;*/
}

.theme-title {
  margin-bottom: 0.3rem;
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
  color: $body-text-color !important;
}

.theme-title a {
    /*color: #505050 !important;*/
    margin-bottom: 0;
  //font-size: 0.9rem;
    /*color: #6c757d !important;*/
  color: $theme-text-color !important;
}

.theme-align-middle {
  position: relative;
  top:5px;
}

.theme-description {
    //font-size: 0.745rem !important;
    margin-bottom: 0;
}

.label {
    font-size: 0.85rem;
}

.label-description {
    /*color: #d3d3d3;*/
    color: #90949c;
    font-size: 0.75rem;
}

.label-required {
    color: red;
    font-size: 0.75rem;
    font-style: italic;
}

.bold-title {
    font-weight: bold;
}

.shade {
    /*background: #f4f4f4;*/
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}
.white {
    background: #ffffff;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}


.no-shade {

}

hr {
    background: #e5e5e5;
}

h1, h2, h3, h4, h5, h6 {
  color: $body-icon-color;
}

h6 {
  color: $body-icon-color;
}

.nav {
    font-weight: 100;
}

.nav-icon {
    font-size: 2rem;
  //color: white !important;
  color: $theme-icon-color !important;
}

.nav-icon-small .oi {
  font-size: 12px;
  color: $theme-icon-color !important;
  //position: relative;
  //top:10px;
}
.nav-icon-small i{
  font-size: 18px;
  color: $theme-icon-color !important;
  position: relative;
  top:5px;
}

.nav-icon-small-more {
  font-size: 22px !important;
  top:11px !important;
}


.top2 {
  top:2px !important;
}

.nav-icon-active {
  //color: $gray-bgcolor-dark !important;
  //color: $theme-text-color !important;
  color: $orange1;
}

.nav-icon-white {
  color: white !important;
}

.title-actions {
    padding-top: 12px;
}

.bottom-border {
  border-bottom: $gray-border-setting;

}

body {
  background-color: transparent;
  height: 100%;
  padding-bottom: 0 !important;
  padding-top: 70px;
  font-family: 'Lato', serif;
  //font-family: 'Open Sans', sans-serif;
  //font-family: 'Mukta', sans-serif;
  //font-family: 'Noto Serif', serif;
}

.fixed-top-2 {
  margin-top: 56px;
}

.loaded {
    /*background-color: #d9edf7;*/
    background-color: #f8f9fa;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.unloaded {
    background-color: #ffffff;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.light-font {
    font-weight: 300;
}
.smaller-font {
    font-size: 0.9rem;
}


.nav-item-circle {
    /*list-style-type: disc;*/
    /*margin-left: 2rem;*/
    color: rgba(0, 0, 0, .2);
}

.nav-item-square {
  height: 50px;
  text-align: center;
  width: 120px;
  padding-top: 0px;
  margin-top: 10px;
}
.nav-item-square a {
}

.navbar a {
  //color: white !important;
  color: $theme-text-color !important;
}

.navbar a.dropdown-item {
  color: $body-text-color !important;
}

.dropdown-item {
  color: $body-text-color !important;
}

.nav-link .oi {
  font-size:18px;
}

.nav-link-text {
}

.nav-link-icon {
  position: relative;
  top:3px;
}

.bg-custom {
  background: linear-gradient(180deg, hsla(0, 0%, 95%, .5), #e6e6e6);
  border-bottom: $gray-border-setting;
}

.header {
  //border-bottom: $gray-border-setting-2-thick;
  margin-bottom:0.5rem;
}

.header p {
    font-size: 0.7rem;
}

.symbol {
    font-size: 0.6rem;
    /*padding-right: 0.5rem;*/
    /*position: relative;
    top:-2px;*/
}

.footer {
    //border-top: .05rem solid #e5e5e5;
    height: 60px;
    width: 100%;
  //margin-top: 4rem;
    font-size: 85%;
  //background: rgba(0, 0, 0, .9);
}
.min-height {
  min-height: 800px;
}

.min-height-themes {
  min-height: 500px;
}


#page-title a {
  color: $orange1;
  text-decoration: none;
}

#page-description {
  font-size: 0.8rem;
}

.navbar {
    padding-bottom: 0;
  //height: 2.3rem !important;
  //font-size: 0.9rem !important;
  font-size: 14px !important;
}

.navbar-bottom-border {
  // border-bottom: 1px solid #ddd;
  box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2);
}

.navbar-toggler {

}


.resource-theme-list {

}

.resource-theme-list a {
    color: #212529!important;
    text-decoration: none;
    font-size: 0.85rem;
}

a:active, a:focus {
    outline: 0;
    border: none;
}

.notes {
    font-size: 0.85rem;
}

.note-section {
  border: $blue-border-setting;
    margin-top: 1rem;
}

.note-section-top {
    padding:1rem;
    background: #f6f8fa;
  border-bottom: $blue-border-setting;

}

.note-section-bottom {
    padding:1rem;
}

.note-title {
}

.note-viewer {
  //margin-top:1rem;
    margin-bottom:0.5rem;
  //display:none;
  //border: $gray-border-setting-2;
}

.note-viewer-title {
    //background: $gray-bgcolor-tn;
    padding: 0.3rem 1rem;
  font-size: 0.8rem;
}

.note-viewer-content {

  border: 1px solid $gray-border-color-2;
  background: #f6f8fa;
  padding: 10px;
  font-size: 0.85rem !important;


  //padding: 1rem;
  //border: 1px solid $blue1 !important;
  //background: white;
  //border-style: dashed;
  //font-size: 0.85rem !important;
  border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
}

.note-editor {
  //border: $gray-border-setting-2;
  //background: #f6f8fa;
  //padding:10px;
  font-size: 0.85rem !important;
  margin-top: 20px;
}

p.modal-header-small {
    font-size: 0.6rem !important;
    color: #212529 !important;
}


p {
}

.empty-content {
  margin-top: 5rem;
}

img.empty {
  margin-left:0.5rem;
  height: 10%;
  width: 10%;
  padding-bottom: 2rem;
}

/* links */

a.empty-link {
  color: $empty-color;
  text-decoration: underline;
}

.active-link a {
    font-weight: 400;
  //color: #fff !important;
  //color: $gray-bgcolor-dark !important;
  color: $theme-text-color !important;
}

.active-link {
  //background-color: white;
  border-bottom: solid 2px $theme-text-color;
}

.active-link span {
  //color: #fff !important;
}

/* tabs */

/*rgba(0, 0, 0, .9)*/

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #fff #fff #dee2e6
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: #fff #fff #dee2e6;
}

.navbar-light .navbar-nav .nav-link .active-link {
    color: rgba(0, 0, 0, .9);
}

/* Navlink active */
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  //color: white;
}

/* Navlink hover */
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus{
  //color: white;
}
/* Navlink normal */
.navbar-light .navbar-nav .nav-link {
  //color: white;

}


.nav-link a {
  color: red;
}


.nav-tabs .nav-link.active {
    border-bottom: 2px solid #4a4949;
}

.nav-tabs .nav-link {
    color: rgba(0,0,0,.5);
}

.nav-tabs {
    border-bottom: .05rem solid #eee;
}

.btn-blue,
.btn-blue:hover {
  background-color: $body-icon-color;
  border: 0;
}

.btn-grey {
  background-color: $gray-bgcolor-dark !important;
  color: white !important;
}

.grayed {
    color: #eee;
}

.highlight {
    //color: #1e73be!important;
  color: $homepg-blue;
}
.symbol-highlight {
    //color: #1e73be;
  color: $homepg-blue;
}

.back-icon {
  text-shadow: $icon-text-shadow;
    font-size: 2rem!important;
}

.highlight-background {
    background-color: #727b84;
    color: #fff;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    border-radius: 2rem;
    font-size:0.75rem;
    padding:0.3rem;
    margin-top:1rem;
    text-align: center;
}

.icon-divider {
  text-shadow: $icon-text-shadow;
  border-left: $gray-border-setting-2;
}

.grey-icon {
  text-shadow: $icon-text-shadow;
    /*color:#7c7c7d!important;*/
    /*color: #7e7e7e!important;*/
  color: $body-text-color !important;
}

.icon-blue i, .icon-blue.oi {
  color: $theme-icon-color !important;
}


.note-header {
    /*padding-top: 0.5rem;
    padding-bottom: 0.5rem;*/
}

.note-header-action-icon {
  text-shadow: $icon-text-shadow;
    font-size: 1.3rem !important;
}

.regular-text {
    font-size:0.8rem !important;
}

/*bootstrap custom*/
.modal-footer {
  border-top: 0 !important; // 1px solid $gray-border-color-1 !important;
}

.modal_footer {
  padding: 1rem;
  border-top: 0 !important; //1px solid $gray-border-color-1 !important;
}

.modal-header {
  border-bottom: 1px solid $gray-border-color-1 !important;
}

.modal-title a {
  color: $theme-text-color;
}

.modal-title {
  color: $theme-text-color !important;
}


.modal-lg {
    max-width: 80%;
}

.modal {
}
/*bootstrap custom*/

.navbar-border {
  //border-bottom: $gray-border-setting-2;
}


.tn-navbar {
  //background: $gray-bgcolor-dark !important;
  //color: white;
  background: white;
  //color: $theme-icon-color;

  border-bottom: 3px solid $gray-border-color-1;
}

.apple_pagination {
  //background: $gray-bgcolor-tn;
  //border-top: $gray-border-setting-2;
  text-align: center;
  padding: 1em;
  cursor: default;
}

.apple_pagination a, .apple_pagination span {
  padding: 0.2em 0.3em;
}

.apple_pagination .disabled {
  color: #aaaaaa;
}

.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}

.apple_pagination a {
  text-decoration: none;
  //color: $gray-bgcolor-dark;
  color: $theme-text-color;
  font-size: large;
}

.apple_pagination:hover, .apple_pagination a:focus {
  background: $gray-border-color-1;
}

//pagination
.paginator {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

span.previous_page, a.previous_page {
  //display: none;
}

// colors

.red {
  color: #cb2431;
}

.green {
  color: $green1 !important;
}

.orange {
  color: $orange1 !important;
}

.text-gray {
  //color: #586069 !important;
  color: #6F7377 !important;
}


.theme-text-color {
  color: $theme-text-color !important;
}

// flags

.flag-red {
  color: #FC3D39;
}

.flag-orange {
  //color: #F58F25;
  color: $orange1;
}

.flag-yellow {
  color: #FFEF00;
}

.flag-green {
  color: #4DBD04;
}

.flag-blue {
  color: #26A8EE;
}

.flag-purple {
  color: #C46FD8;
}

.flag-gray {
  color: #8E8E91;
}

.flag-default {
  color: $body-icon-color;
}

.alert {
  margin-top: 1rem;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
}
.dropdown-toggle::after {
  display:none
}

.introjs-tooltiptext {
  font-size: 0.85rem;
}

.header-icon {
  text-shadow: 0 1px 0 #fff;
  //margin-left:0.5rem;
  margin-right: 1.5rem;
  position: relative;
  top:13px;
}

.page_info {
  margin-bottom:0.4rem;
}

.flag_square {
  display: inline-block;
  //zoom: 1;
  //margin: 0 20px 0 5px;
  height: 30px !important;
  width: 30px !important;
  border: 1px solid;
}


.trix-content {
  border: 1px solid $gray-border-color-1;
  background: #ffffff;
  //max-height: 200px !important;
  //height: 500px !important;
  overflow-y: auto;
  //font-family: Verdana, Geneva, sans-serif !important;


  color: #0b0b0b;
  font: 13px/normal 'Helvetica', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro';
}


trix-toolbar .trix-button-row {
  flex-wrap: wrap !important;
}

.modal {
  overflow: visible;
  width: 98%;
  height: 98%;
  max-width: none !important;
  z-index: 1201 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}
.fixed-top {
  z-index: 1 !important;
}

.dropdown-menu {
  border: 1px solid $gray-border-color-1;
}

.code a {
  color: $body-text-color;
}
.header a {
  line-height: 1.5rem;
}

#load-more:hover {
  //background: red;
}

// autocomplete settings
.ui-helper-hidden-accessible {
  display:none;
}
.ui-autocomplete {
  z-index: 2147483647;
}

.ui-widget.ui-widget-content {
  border: 1px solid $gray-border-color-1;
  list-style-type: none;
  padding-left: 15px;
}

.ui-widget-content {
  color: $body-text-color;
}

.ui-widget {
  font-family: inherit;
  //font-size: 1em;
}

#ui-menu {
  list-style-type: none;
}

li.ui-menu-item {
  padding: 10px;
}

// select2 settings
.select2-container--open .select2-dropdown--below,
.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-container--default .select2-selection--single {
  border-color: $gray-border-color-1;
}

.tag {
  border: 1px solid $theme-icon-color !important;
  border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  display: inline-block;
  line-height: 1.25rem;
  margin: 0 .375rem .375rem 0;
  padding: 2px 10px;
  font-size: .8rem;
  background: $blue1;
  color: white;
}

//.tag {
//  padding: 5px;
//  font-size: smaller;
//  color: #fff;
//  -webkit-border-radius: 5px;
//  -moz-border-radius: 5px;
//  border-radius: 5px;
//  font-weight:bold;
//  margin-bottom: 5px;
//  margin-right: 5px;
//}

.dropdown-divider {
  border-top: 1px solid $gray-border-color-1;
}

.nav-menu-item {
  width: 120px;
  text-align: center;
}

.nav-menu-item span {
  font-size: 1rem;
  position: relative;
  top: 3px;
}

.starred {
  border-left:solid !important;
  border-left-color: orangered !important;
}

.theme-details {
  padding-left:21px;
}

#nav-actions {
  //position: relative;
  //top:15px;
}

// fixes bug with introjs
.introjs-helperLayer {
  background: transparent;
}

.introjs-overlay {
  opacity: 0 !important;
}

.introjs-helperLayer:before {
  opacity: 0;
  content: '';
  position: fixed;
  width: inherit;
  height: inherit;
  border-radius: 0.5em;
  box-shadow: 0 0 0 1000em rgba(0,0,0, .7);
  opacity: 1;
}

.introjs-helperLayer:after {
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 1000;
}

// fixes bug with introjs end


li.token-input-token-facebook {
  -webkit-border-radius: .15rem;
  -moz-border-radius: .15rem;
  border-radius: .15rem;
}

.collapse.show {
  display: flex !important;
}

.notes-content {

  margin-bottom: 0;
  padding: 10px;

  border: none !important;
  background: #ffffff;
  //height: 500px !important;
  overflow-y: auto;
  //font-family: Verdana, Geneva, sans-serif !important;
  word-wrap: break-word;
  color: black;
}


.theme-contents {
  //height: 500px;
}

.sidebar {
  //border: 1px solid $gray-border-color-2;
  //background: #f6f8fa;
  padding: 10px;
}

.borderless {
  border: 0 !important;
  background: none !important;
  padding: 0 !important;
}

.editor-button {
  //border: 1px solid #286090 !important;
  border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -webkit-border-radius: $border-radius;

  display: inline-block;
  line-height: 1.25rem;
  margin: 0 .375rem .375rem 0;
  padding: 2px 10px;
  font-size: .8rem;
  background: $theme-text-color;
  color: white;
}


a.editor-button:hover {
  color: white !important;
}

.btn {
  //border: 1px solid #286090 !important;
  border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
  display: inline-block;
  line-height: 1.25rem;
  margin: 0 .375rem .375rem 0;
  padding: 2px 10px;
  font-size: .8rem;
}

.btn-theme {
  color: white;
  background: $theme-text-color !important;
}

.btn-go {
  color: white;
  background: $green1 !important;
}

.btn-cancel {
  color: white;
  background: $red !important;
}

.btn:hover {
  color: white;
}

trix-editor a{
//color: red !important;
  color: $theme-text-color;
  text-decoration: underline !important;
}



.btn-more {

  //padding: 10px;
  color: white;
  font-size: 1rem !important;
  background: $blue2 !important;
}

.white {
  color: white !important;
}

.theme-icon-ionic-white {
  text-shadow: none !important;
  color: white;
}

.sidebar-divider {
  border-top: 2px solid $orange1;
}