<% if flash.present? %>
    <% alert_type, message = get_alert(flash) %>
    <div class=" text-center alert alert-<%= alert_type %> alert-dismissible fade show" role="alert">
      <strong></strong>
      <%= message.html_safe %>

      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
<% end %>
