
//handle flash
<% if @notifier_object %>
  $('#<%= "#{@notifier_object.class.to_s.downcase}-#{@notifier_object.id}-notification" %>').replaceWith(
  function () {
  return (
  '<%= j render partial: 'app/notes/flash_messages',
                locals: {
                    flash: flash,
                    object: @notifier_object,
                }
%>'
  );
  }
  );
<% end %>

hideNotice();