<% if logo %>
  <%= image_tag "favicon_master.png",
                width:  "2.5%",
                height: "2.5%",
                style:  {

                },
                class:  "mr-1"
  %>
<% end %>

<a id="logo" class="<%= logo ? 'logo-black' : 'logo-white' %> logo-<%= size %> navbar-brand d-flex mr-auto logo"
   href="<%= logo ? '/' : '/projects' %>">
  <span class="logo logo-1">ResourceNote</span>
<!--  <span class="logo logo-2">note</span>-->
  <small>
<!--    <small> <small class="pl-1">beta</small> </small>-->
  </small>
</a>
