<div class="row">
  <div class="col-6">
    <h5><%= content_type.titleize %> </h5>
  </div>
  <div class="col-6 float-right">
  </div>
</div>
<% if content.present? %>
  <p> <%= show_formatted_content(content, current_account) %> </p>
<% else %>
  <p style="font-size: 0.85rem;">No <%= content_type %> added</p>
<% end %>
