
<%= link_to link_representation(title, tooltip, id, nil, data_glyph),
            href,
            {
                "data-toggle": "modal",
                "data-target": "##{data_target}",
                class: klass
            }
%>