<%= link_to ionic_icon(data_glyph, tooltip),
            href,
            {
                "data-toggle": "modal",
                "data-target": "##{data_target}",
                "aria-hidden": true,
                class:         "theme-icon-ionic #{klass}",
                title:         tooltip
            }
%>

<%#= link_to ion_icon(icon,
                     {
                         "data-toggle": "tooltip",
                         title:         title,
                         "aria-hidden": true,
                         class:         "theme-icon-ionic #{klass}",
                     }),
            href,
            {
                "data-toggle": "modal",
                "data-target": "##{data_target}",
            }
%>
