<div class="modal-header">
  <div class="row">
    <div class="col-12">
      <h6 class="modal-title" id="exampleModalLongTitle">
          <%= title %>
      </h6>
    </div>
    <% if sub_title.present? %>
    <div class="col-12 modal-header-small">
      <small>
        <%= sub_title %>

      </small>
    </div>
    <% end %>

  </div>

  <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
    <!--<span aria-hidden="true">&times;</span>-->
  <!--</button>-->
</div>
