
<%#= link_to link _representation(title, tooltip, nil, data_glyph),
            href,
            {
                "data-toggle": "modal",
                "data-target": "##{data_target}",
                class: klass
            }
%>


<a href="#" class="btn btn-primary" role="button">
  <span title=''
        data-glyph='<%= data_glyph %>'
        data-toggle='tooltip'
        aria-hidden='true'
        class='oi theme-icon-oiconic theme-btn-icon-oiconic'> </span>
  <%= title %>
</a>
