<div class="row">
  <div class="col m-5 p-3">
    <div class="empty-content">
      <% if @none_created %>
        <div class="d-flex justify-content-center">
          <h3 class="text-muted">
            <h4 class="text-muted">No <%= content.pluralize %> added yet</h4>
          </h3>
        </div>

        <div class="d-flex justify-content-center text-muted">
          <%= link_to 'Create a notebook ',
                      new_project_path,
                      id:    "add-project",
                      class: "jqueryModal empty-link"
          %>
          &nbsp;
          to get started!
        </div>
      <% else %>
        <!--<div class="d-flex justify-content-center">
          <%#= image_tag 'not_found.png', class: 'empty' %>
        </div>-->

        <div class="d-flex justify-content-center">
          <h4 class="text-muted">No <%= content.pluralize %></h4>
        </div>

      <% end %>
    </div>
  </div>
</div>
