<% if collection %>
  <div class="paginator">
    <div class="apple_pagination">
      <% if collection.count > 1 %>
      <div class="page_info">
        <%#= page_entries_info collection %>
        <%= pagination_details(collection) %>
      </div>
      <%= will_paginate collection, container: false %>
      <% end %>
    </div>
  </div>
<% else %>
<% end %>
