

  <% if collection.next_page %>

    <div class="paginator">
      <div class="apple_pagination">
        <% if collection.count > 1 %>
          <div class="page_info">
            <div class="row">
              <div id="load-more" class="col mx-auto">
                <%= link_to 'Load More', pagination_url, remote: true %>
              </div>
            </div>
          </div>
          <%#= will_paginate collection, container: false %>

          <%= pagination_details(collection) %>
        <% end %>
      </div>
    </div>
  <% end %>




