
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta charset="utf-8">

<meta name="description" content="ResourceNote helps manage your research efficiently by organising your notes, papers and other sources around your research themes." />
<meta name="keywords" content="themes, topics, categories, research, notes, note-taking, bibliographies, curricula vitae, manuscripts, thesis, dissertations, grant proposals, term papers, publications, citations, references, mind-map, " />
<meta name="author" content="metatags generator">
<meta name="robots" content="index, follow">
<meta name="revisit-after" content="3 month">
<title><%= "#{title} | " if title %>ResourceNote</title>

<%= csrf_meta_tags %>
<!--<title><%#= "#{title} - " if title %> ResourceNote</title>-->
<%= render 'application/favicon' %>
