<footer class="footer">
  <div class="container">
    <div class="row">
<!--      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">-->
      <div class="col h-100 text-center my-auto">
        <ul class="list-inline mb-2">
          <!--<li class="list-inline-item">-->
          <!--<a href="#">About</a>-->
          <!--</li>-->
          <!--<li class="list-inline-item">&sdot;</li>-->
          <li class="list-inline-item">
            <a href="mailto:apps@artoconnect.com">Contact</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="/terms">Terms of Use</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="/privacy">Privacy Policy</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; ResourceNote 2020. All Rights Reserved.</p>
      </div>

      <!--
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fa fa-facebook fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fa fa-twitter fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-instagram fa-2x fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>
      -->

    </div>
  </div>
</footer>
