<section class="">
  <div class="container">
    <div class="row" style="text-align: center;">
      <div class="col">
        <a href="/">
          <img id="logo-image" src="<%= asset_path 'site/main-logo-note-3.png' %>"/>
        </a>
      </div>
    </div>
  </div>
</section>
