<!doctype html>
<html lang="en">
<head>
  <%= render partial: 'app/title',
             locals: {
                 title: 'Alpha'
             }
  %>

  <%= stylesheet_link_tag  'site/pages',
                           'http://fonts.googleapis.com/css?family=Lato',
                           media: 'all',
                           'data-turbolinks-track': 'reload'
  %>
  <%= javascript_include_tag 'site/pages', 'data-turbolinks-track': 'reload' %>
  <!-- google font -->


  <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Raleway:300,500|Source+Sans+Pro" rel="stylesheet">



  <script>
      $(document).on('turbolinks:load', function () {
          <%= yield :script %>
      });
  </script>

</head>

<body>
<!-- start preloader -->
<div class="preloader">
  <div class="sk-spinner sk-spinner-rotating-plane"></div>
</div>
<!-- end preloader -->
<!-- start navigation -->
<nav class="navbar navbar-light bg-light fixed-top templatemo-nav navbar-expand-md"
     role="navigation">
  <div class="container">

    <%= render partial: 'app/logo', locals: { logo: true, size: 'large' } %>

    <button class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse"> &#x2630;</button>


    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav ml-auto ">
        <li class="nav-item"><a href="#home" class="nav-link">Home</a> </li>
        <!--<li class="nav-item"><a href="#feature" class="nav-link">Features</a> </li>-->
        <!--
        <li class="nav-item"><a href="#pricing" class="nav-link">Pricing</a> </li>
        <li class="nav-item"><a href="#download" class="nav-link">Download</a> </li>
        -->
        <li class="nav-item"><a href="#contact" class="nav-link">Request early access</a> </li>
        <li class="nav-item"><a href="<%= new_user_session_path %>" class="nav-link login">Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- end navigation -->
<!-- start alpha -->
<section id="home">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-8 offset-1 wow fadeIn" data-wow-delay="0.3s">
          <h1 class="text-upper tag-line">
            <!--Turn Ideas into Insights-->
            <!--Go from Ideas to Insights-->
             Insights from Ideas
          </h1>
          <p class="tm-white tag-line-desc">
            <!--Themenote helps you organise your notes around themes and resources you discover during research.-->
            <!--Organise your notes around themes and resources you discover during research.-->
            Organise your notes around themes and resources you discover during research.
          </p>
          <%= image_tag 'site/images/software-img.png', class: "img-fluid", alt: 'alpha img' %>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </div>
</section>
<!-- end alpha -->
<!-- start divider -->
<section id="divider">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
        <!--<i class="fa fa-laptop"> </i>-->
        <%= oiconic_icon('pencil', '') %>

        <h3 class="">RESPONSIVE LAYOUT</h3>
        <p>
          D-Desire. Let your visitors know WHY they need your product.
          https://www.quora.com/What-are-the-best-practices-for-a-beta-landing-page
        </p>
      </div>
      <div class="col-lg-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s"> <i class="fa fa-twitter"></i>
        <h3 class="">BOOTSTRAP 3.3.4</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation.</p>
      </div>
      <div class="col-lg-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s"> <i class="fa fa-font"></i>
        <h3 class="">GOOGLE FONT</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation.</p>
      </div>
    </div>
  </div>
</section>
<!-- end divider -->
<!-- start contact -->
<section id="contact">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
          <h2 class="tag-line">Coming soon</h2>
          <p> Thanks for your interest in Themenote! <br>
            The first version is nearly done and we're certain you will find
            it useful. Leave your email if you would like access to our invite only
            closed alpha.

          </p>
          <small><i> Requests will be accepted until the 15th of March. </i> </small>
          <p> <!--Check my position in the queue.--> </p>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
          <div class="contact-form">

            <%= form_tag '' do -%>
              <div class="col-lg-12">
                <%= text_field_tag :email, nil, class: 'form-control', placeholder: 'Enter your email here...' %>
              </div>
              <div class="col-lg-12">
                <%= submit_tag 'Request my FREE early access', class: 'form-control' %>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end contact -->
<!-- start footer -->
<footer>
  <div class="container">
    <div class="row">
      <p class="copyright">&#xA9; 2018 @xiankt</p>
    </div>
  </div>
</footer>
<!-- end footer -->
</body>



</html>
