<!-- MVP.css quickstart template: https://github.com/andybrewer/mvp/ -->

<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="https://via.placeholder.com/70x70">
  <link rel="stylesheet" href="<%= asset_path 'mvp/mvp.css' %>">

  <meta charset="utf-8">
  <meta name="description" content="My description">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="6oH8MgwErUu88JAtE8Ltu5renH8OgHtgYMjlou09yuo"/>

  <%= render partial: 'app/tools/google_analytics' %>

  <%= render partial: 'app/title',
             locals:  {
                 title: 'Organise your research notes efficiently'
             }
  %>


</head>

<body style="background: #fefefe;">
<header>
  <nav>
    <a href="/"><h1 style="color: black">ResourceNote</h1></a>

    <ul>
      <li><a style="color: black;" href="<%= new_user_registration_path %>">Sign up</a></li>
      <li><a style="color: black;" href="<%= new_user_session_path %>">Log in</a></li>
      </li>
    </ul>

  </nav>
  <h1>Easily <u>organise</u> your research notes. </h1>
  <p></p>

</header>
<main>

  <section>
    <header>
      <h3>Why ResourceNote?</h3>
      <p>
        <mark>Current note-taking apps are just not made for research.</mark>
      </p>
      <p>
        Whether it’s your thoughts on a paper or a particular theme or topic,
        your options for organising your research notes are limited to
        saving them in a single document, with only
        folders to manage the relationships between your work, the
        resources you're referencing and other notes.
        <p>
          <u>As a result, crucial insights get saved in different places.</u></p>


      <p>
        ResourceNote fixes this by allowing you to <mark>
        link your notes with their respective resources as well as with other notes,
      </mark>
        enabling you to easily keep track of your work across different
        documents.
      </p>
    </header>
    <br>
    <p>
      <a href="<%= new_user_registration_path %>">
        <b style="border: none; background-image: linear-gradient(to bottom, #303031, #303031)">
          Get a FREE account &rarr;
        </b>
      </a>
    </p>

  </section>
  <hr>
  <section>
    <header>
      <h2>Features include...</h2>
    </header>


    <aside style="width: 70%;padding:0">
      <figure>
        <img alt="screenshot-1" src="<%= asset_path('site/rn-screenshot-1.png') %>">
      </figure>
      <p style="text-align: center">Organise your notes into notebooks.</p>
    </aside>

    <aside style="width: 70%;padding:0">
      <figure>
        <img alt="screenshot-3" src="<%= asset_path('site/rn-screenshot-3.png') %>">
      </figure>
      <p style="text-align: center">View multiple notes at the same time.</p>
    </aside>



    <aside style="width: 70%;padding:0">
      <figure>
        <img alt="screenshot-2" src="<%= asset_path('site/rn-screenshot-2.png') %>">
      </figure>
      <p style="text-align: center">Create notes for each resource after adding them, as well as sub-notes.</p>
    </aside>

  </section>
  <section>
    <p>
      <a href="<%= new_user_registration_path %>">
        <b style="border: none; background-image: linear-gradient(to bottom, #303031, #303031)">
          Get a FREE account &rarr;
        </b>
      </a>
    </p>
  </section>

</main>
<footer>
  <hr>
  <p>
    <small>&copy; ResourceNote 2020. All Rights Reserved.</small>
  </p>
</footer>
</body>

</html>