

<!-- Masthead -->
<header class="masthead text-center">

  <div class="parallax-background">
    <img id="bground" src="<%= asset_path 'site/bground.jpg' %>"/>
    <div class="filter filter-black"></div>
  </div>


    <div class="info">
      <div class="row" style="text-align: center;">
        <div class="col">
          <a href="/">
            <img id="logo-image" src="<%= asset_path 'site/main-logo-note-3-white.png' %>"/>
          </a>
        </div>
      </div>
      <div class="col mx-auto">
        <h2 class="mb-3" style="color:#5E6971;margin-top:1rem;font-size:34px;">
          <span class="text-white" style="font-weight: normal;">
            Manage your research efficiently
        </span>
        </h2>
        <p class=" col-5 mx-auto" style="color: #fff">
          ResourceNote organises your notes, papers and other sources around your
          research themes, keeping them where they are most relevant.
        </p>
      </div>
    </div>

</header>

<!--<section class="bg-light">-->
<section class="pt-5">
  <div class="container text-center">
    <div class="row">
      <div class="col mx-auto">
        <span class="request-link request-link-large">
<!--          <span style="font-size: 1.3rem;"> Wanna find out more? </span>-->
          <%#= link_to 'Sign up for an Early Member Account Now!', 'http://bit.ly/theme-notes' %>
          <%= link_to 'Get started with a FREE account!', new_user_registration_path %>
        </span>
      </div>
    </div>
  </div>
</section>

<!-- Icons Grid -->
<section class="features-icons text-center bg-light pt-5" style="color: #f7f8fc">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-notebook m-auto text-blue"></i>
          </div>
          <h3 class="grey-font">Track</h3>
          <p class="lead mb-0 grey-font">
            Stay on top of important themes, concepts and ideas,
            and quickly access them from anywhere!
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-layers m-auto text-blue"></i>
          </div>
          <h3 class="grey-font">Organise</h3>
          <p class="lead mb-0">
            Save and organise all notes and resources related to
             themes in one place!
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-magnifier m-auto text-blue"></i>
          </div>
          <h3 class="grey-font">Discover</h3>
          <p class="lead mb-0">
            Make connections between different themes, and stumble on unexpected
            resources!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="screenshot">
  <div class="container">
    <div class="row text-center">
      <div class="col"> <!-- -lg-7 col-md-8 col-sm-12 mx-auto">-->
        <div>
          <%= image_tag "site/screenshot-4.png" %>
        </div>
      </div>
    </div>
  </div>
</section>



<% if false %>
  <!-- Testimonials -->
  <section class="testimonials text-center ">
    <div class="container">
      <h2 class="mb-5">What people are saying...</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="img/testimonials-1.jpg" alt="">
            <h5>Margaret E.</h5>
            <p class="font-weight-light mb-0">"This is fantastic! Thanks so much
              guys!"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="img/testimonials-2.jpg" alt="">
            <h5>Fred S.</h5>
            <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been
              using it to create lots of super nice landing pages."</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="img/testimonials-3.jpg" alt="">
            <h5>Sarah W.</h5>
            <p class="font-weight-light mb-0">"Thanks so much for making these
              free resources available to us!"</p>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
