<%= render partial: 'app/modal_dialog_header',
           locals:  {
               title:     "Drop us a line!",
               sub_title: nil
           }
%>

<%= form_for @message, url: help_messages_path, html:{id: 'form'}  do |f| %>

  <div class="modal-body">
    <div class="row">
      <div class="col d-flex justify-content-center">

        <p class="justify-content-center">
          Having problems? Any questions or suggestions? Let us know!
          <br>
          We're very happy to help you get the most out of ResourceNote :)
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 form-group">
        <%= f.text_field :name, class: "form-control form-isti position-static",
                         placeholder:  "Name" %>
      </div>
      <div class="col-6 form-group">
        <%= f.email_field :email,
                          class:       "form-control form-isti position-static",
                          placeholder: "Email" %>
      </div>
      <div class="col-12 form-group">
        <%= f.text_area :body, class: "form-control form-isti position-static",
                        placeholder:  "Message" %>
      </div>
    </div>
  </div> <!--end modal-body-->

  <%= render partial: 'app/modal_dialog_footer',
             locals:  {
                 f:     f,
                 save:  "Send",
                 close: "Close"
             }
  %>
<% end %>
