/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/*
 *= require application
 *= require site/css/animate.min
 *= require bootstrap/css/bootstrap.min
 *= require open-iconic/css/open-iconic.min
 *= require site/css/templatemo-style
 */

.navbar-light .navbar-nav .nav-link {
    /*
    font-family: 'Abel', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    */
    font-family: 'Source Sans Pro', sans-serif;
    font-size:0.95rem;
}

.navbar-light .navbar-nav .nav-link.login {
    /*color: #0069e0;*/
}

.tag-line {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
}

p.tag-line-desc {
    /*font-family: 'Lato', sans-serif;
    font-weight: 400;
    */
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 1.15rem;
}

p.copyright {
    font-size: 0.7rem;
}

.navbar-light .nav li a:hover,
.navbar-light .nav li a:focus,
.navbar-light .nav li a.current
{
    color: #28a7e9;
}


.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link.current,
.navbar-light .navbar-nav .nav-link:hover {
    color: #28a7e9;
}