/*
 *= require application
 *= require bootstrap/css/bootstrap.min
 *= require simple-line-icons
*/

/*<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">*/
body {
    /*font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-family: "Source Sans Pro",Helvetica,sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /*font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-family: "Source Sans Pro",Helvetica,sans-serif;
    /*font-weight: 700;*/
}

header.masthead {
    position: relative;
    /*background-color: #343a40;*/
    /*background-color: #f8f9fa;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 2rem;
    padding-bottom: 2rem;
    /*background: url('bground.jpg')*/
}

header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

header.masthead h1 {
    font-size: 2rem;
    color: #303031;
}

@media (min-width: 768px) {
    header.masthead {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    header.masthead h1 {
        /*font-size: 3rem;*/
        font-size: 2rem;
    }
}

.showcase .showcase-text {
    padding: 3rem;
}

.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
}

@media (min-width: 768px) {
    .showcase .showcase-text {
        padding: 7rem;
    }
}

.features-icons {
    padding-top: 0rem;
    padding-bottom: 1rem;
    margin-bottom: 6rem;
}

.features-icons .features-icons-item {
    max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
    font-size: 5rem;
}

.testimonials {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.testimonials .testimonial-item {
    max-width: 18rem;
}

.testimonials .testimonial-item img {
    max-width: 12rem;
    box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
    position: relative;
    background-color: #343a40;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.call-to-action .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.request-link a {
    padding-top:1rem;
    color: #4c4c4c !important;
    /*text-decoration: underline;*/
    font-weight:bold;
}

.request-link-small a {
    font-size: 12px;

}

.request-link-large a:hover {
    text-decoration: none;
}
.request-link-large a {
    font-size: 1.5rem;
    font-weight: normal;
    padding: 10px 15px;
    color: white !important;
    background-color: #A3A2A2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.session-btn {
}

.session-btn a:hover {
    color: #fff;
    text-decoration: underline ;
}

.session-btn {
    color: #fff;
    padding: 2px 10px 2px 5px !important;
    font-size: 12px;
    font-weight: 400;
    margin-left: 8px;
    height: auto !important;
    line-height: 18px;
    float: right;
    background-image: linear-gradient(to bottom, #303031, #303031);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#logo-image {
    height:75px !important;
    margin-top: 0rem;
    margin-bottom:3rem;
}

.logo-text {
    width: 160px !important;
}

.nav-bar {
    border-bottom: 1px solid #303031;
}

.description {
    font-size: 1.1rem;
    margin-bottom:2rem !important;
    /*font-weight: 300;*/
    font-weight:400;
}

.screenshot img {
    width: 700px;
    border-radius: 5px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    max-width: 90%;
}

.screenshot {
    /*background: #f8f9fa;*/
    padding-bottom: 4rem;
}

.text-blue {
    /*color: #2ECC71 !important;*/
    color: #017BFF !important;
}
.text-white {
    color: #fff;
}

.lead {
    color: #5E6971 !important;
}

.grey-font {
    color: #5E6971 !important;
}

.bg-light {
    background-color: #f7f8fc !important;
}

.translucent-bg {
    opacity: 0.5;
    filter: alpha(opacity=50);
    background-color: black;
}

.filter-black {
    position:relative
}
.filter-black:after {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    display:block;
    z-index:1;
    background-color:rgba(0,0,0,0.66);
    /*background-color:rgba(51,51,51,0.9);*/
    content:""
}

.masthead .parallax-background:after {
    background-color:rgba(33,33,33,0.3)
}
.masthead .parallax-background .filter {
    position:absolute;
    width:100%;
    height:100%;
    display:block;
    content:"";
    top:0;
    left:0;
    opacity:1;
    z-index:4;
    background:-moz-linear-gradient(-45deg, rgba(86,141,226,0.89) 0%, #511D80 100%);
    background:-webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(86,141,226,0.89)), color-stop(100%, #511D80));
    background:-webkit-linear-gradient(-45deg, rgba(86,141,226,0.89) 0%, #511D80 100%);
    background:-o-linear-gradient(-45deg, rgba(86,141,226,0.89) 0%, #511D80 100%);
    background:-ms-linear-gradient(-45deg, rgba(86,141,226,0.89) 0%, #511D80 100%);
    background:linear-gradient(135deg, rgba(86,141,226,0.89) 0%, #511D80 100%);
    background-size:120% 120%
}
.masthead .parallax-background .filter.filter-black {
    background:none
}
.parallax-background {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.masthead .parallax-background .filter.filter-light-blue {
    background:-moz-linear-gradient(-45deg, rgba(28,206,234,0.82) 0%, rgba(147,26,222,0.83) 100%);
    background:-webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(28,206,234,0.82), color-stop(100%, rgba(147,26,222,0.83))));
    background:-webkit-linear-gradient(-45deg, rgba(28,206,234,0.82) 0%, rgba(147,26,222,0.83) 100%);
    background:-o-linear-gradient(-45deg, rgba(28,206,234,0.82) 0%, rgba(147,26,222,0.83) 100%);
    background:-ms-linear-gradient(-45deg, rgba(28,206,234,0.82) 0%, rgba(147,26,222,0.83) 100%);
    background:linear-gradient(135deg, rgba(28,206,234,0.82) 0%, rgba(147,26,222,0.83) 100%)
}

.masthead .parallax-background img#bground {
    width: 100%;
    height: auto;
    position: relative;
}

.masthead .info {
    position: relative;
    z-index: 1;
    margin-top: 80px;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    text-shadow: 0 1px 3px rgba(33,33,33,0.38);
    /*font-weight: 70 !important;*/
    font-size: 16px;
}

.masthead {
    margin: 0;
    position: relative;
    overflow: hidden;
}