

/*
 *= require application
 *= require bootstrap/css/bootstrap.min
 */

body, html {
    height: 100%;
}

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.btn {
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: white;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    border: none !important;
    /*-moz-border-radius: 2px;*/
    /*-webkit-border-radius: 2px;*/
    /*border-radius: 2px;*/
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    color: #4c4c4c;
    border: 1px solid #cccccc;
    font-size:14px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
}

.btn.btn-signin {
    background-image: linear-gradient(to bottom, #303031, #303031);
    font-weight: 400;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    /*background-color: rgb(12, 97, 33);*/
    background-color: #8da6bf;
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    /*color: rgb(12, 97, 33);*/
    color: #8da6bf;
}

#remember {


}
.session-font {
    padding-top:1rem;
    font-size: 0.8rem;
}

.form-control {
}
input::-webkit-input-placeholder {
    color: #9f9f9f !important;
}

input:-moz-placeholder { /* Firefox 18- */
    color: #9f9f9f !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
    color: #9f9f9f !important;
}

input:-ms-input-placeholder {
    color: #9f9f9f !important;
}

.alert {
    margin-bottom:0;
}


.request-link a {
    color: #4c4c4c;
    font-size: 14px;
    text-decoration: underline;
}

.logo-black {
    color: #303031 !important;
}
