/* line 3, /Users/kojo/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/trestle-auth-0.2.4/app/assets/stylesheets/trestle/auth/userbox.scss */
.userbox {
  margin-top: 2px;
  margin-bottom: 2px;
}
/* line 7, /Users/kojo/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/trestle-auth-0.2.4/app/assets/stylesheets/trestle/auth/userbox.scss */
.userbox > a {
  color: #333333;
  display: block;
  padding: 2px 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 40px;
}
/* line 17, /Users/kojo/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/trestle-auth-0.2.4/app/assets/stylesheets/trestle/auth/userbox.scss */
.userbox > a:hover, .userbox > a:focus {
  text-decoration: none;
}
/* line 22, /Users/kojo/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/trestle-auth-0.2.4/app/assets/stylesheets/trestle/auth/userbox.scss */
.userbox .avatar {
  vertical-align: top;
  margin-left: 6px;
}
/* line 27, /Users/kojo/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/trestle-auth-0.2.4/app/assets/stylesheets/trestle/auth/userbox.scss */
.userbox .name {
  color: #333333;
}

@media (max-width: 767px) {
  /* line 33, /Users/kojo/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/trestle-auth-0.2.4/app/assets/stylesheets/trestle/auth/userbox.scss */
  .userbox {
    position: relative;
    z-index: 5;
  }
  /* line 37, /Users/kojo/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/trestle-auth-0.2.4/app/assets/stylesheets/trestle/auth/userbox.scss */
  .userbox > a, .userbox .name {
    color: white;
  }
  /* line 41, /Users/kojo/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/trestle-auth-0.2.4/app/assets/stylesheets/trestle/auth/userbox.scss */
  .userbox .name {
    display: none;
  }
  /* line 45, /Users/kojo/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/trestle-auth-0.2.4/app/assets/stylesheets/trestle/auth/userbox.scss */
  .userbox .avatar {
    border: 1px solid rgba(255, 255, 255, 0.25);
  }
}
