.userbox{margin-top:2px;margin-bottom:2px}.userbox>a{color:#333333;display:block;padding:2px 0;font-size:14px;font-weight:normal;line-height:40px}.userbox>a:hover,.userbox>a:focus{text-decoration:none}.userbox .avatar{vertical-align:top;margin-left:6px}.userbox .name{color:#333333}@media (max-width: 767px){.userbox{position:relative;z-index:5}.userbox>a,.userbox .name{color:white}.userbox .name{display:none}.userbox .avatar{border:1px solid rgba(255,255,255,0.25)}}
