body{padding-top:1.5rem;padding-bottom:1.5rem}.header,.marketing,.footer{padding-right:1rem;padding-left:1rem}.header h3{margin-top:0;margin-bottom:0;line-height:3rem}.footer{padding-top:1.5rem;color:#777}.jumbotron{text-align:center;border-bottom:.05rem solid #e5e5e5}.jumbotron .btn{padding:.75rem 1.5rem;font-size:1.5rem}.marketing{margin:3rem 0}.marketing p+h4{margin-top:1.5rem}@media screen and (min-width: 48em){.header,.marketing,.footer{padding-right:0;padding-left:0}.jumbotron{border-bottom:0}}
