<!doctype html>
<html lang="en">

<%#= render partial: 'app/tools/drift_script' %>
<head>

  <%#= render partial: 'app/tools/google_analytics' %>

  <%= render partial: 'app/title',
             locals: {
                 title: @page_title || get_title(params[:controller])#'Dashboard'
             }
  %>

  <!--// START CSS-->
  <%= stylesheet_link_tag 'app/app',
                          'https://fonts.googleapis.com/css?family=Noto+Serif|Lato:300,400',
                          "https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css"
      # "https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css",

  %>

  <!--// END CSS-->

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light fixed-top tn-navbar pb-2">
    <a class="navbar-brand d-lg-none" href="/projects">ResourceNote</a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigations-02">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse justify-content-md-center" id="navigations-02">
    <div class="row w-100">

      <div class="col-4 pl-lg-0">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link " href="<%= projects_path %>">
              <%= oiconic_icon 'book', is_active?('app/projects') ? 'nav-icon-active align-middle' : 'nav-icon align-middle' %>
              <span class="align-middle">Notebooks</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="<%= resources_path %>">
              <%= oiconic_icon 'bookmark', is_active?('app/resources') ? 'nav-icon-active align-middle' : 'nav-icon align-middle' %>
              Library
            </a>
          </li>
        </ul>
      </div>

      <div class="col-4 navbar-nav text-center pr-0 d-none d-lg-block">
        <a class="navbar-brand mr-0" href="/projects">ResourceNote</a>
      </div>

      <div class="col-4 col-lg-4 pr-lg-0">

        <div class="float-right">
          <ul class="nav navbar-nav">
            <li class="nav-item dropdown" style="margin-right:10px">

              <a class="nav-link dropdown-toggle oi theme-icon-ionic"
                 href="#"
                 id="account-menu-dropdown"
                 data-tippy-content="Account"
                 role="button"
                 data-toggle="dropdown"
                 aria-haspopup="true"
                 aria-expanded="false">
                    <span class="nav-icon-small" title="Account">
                      <%= ionic_icon("person") %>
                    </span>
              </a>

              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="account-menu-dropdown">
                <a class="dropdown-item"
                   href="<%= profile_path %>">Account</a>
                <a class="dropdown-item"
                   href="javascript:void(0);"
                   onclick="javascript:startIntroTour();">Help</a>

                <a class="dropdown-item"
                   href="mailto:apps@artoconnect.com" title="send an email to apps@artoconnect.com">Feedback</a>

                <div class="dropdown-divider"></div>

                <a class="dropdown-item"
                   href="<%= destroy_user_session_path %>" data-method="delete">
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</nav>


<%# <div class="container px-0"> %>
<div class="px-0 mt-4">
  <main role="main" class="min-height">

    <!--normal flash messages-->
    <%= render partial: 'app/flash_messages', locals: { flash: flash } %>
    <!--hook for ajax flash messages-->
    <div id="flash-hook"></div>

    <%= yield %>

  </main>
</div> <!-- /container -->

<footer class="footer" style="text-align: center;">
  <!--  <p>&copy; 2020 ResourceNote</p>-->
</footer>

<!--<div id="drift-widget-container" data-turbolinks-permanent></div>-->
<div id="drift-widget-container"></div>


<!--// START JS-->
<%= javascript_include_tag 'app/app',
    # "https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js",
                           "https://unpkg.com/tippy.js@4"
%>

<script>
    $(function () {
        initJS();

        <%= yield :script %>
    });
</script>
<!--// END JS-->
</body>
</html>

