<!doctype html>
<html lang="en">
<head>
  <%= render partial: 'app/title',
             locals:  {
                 title: 'Log in'
             }
  %>

  <%= stylesheet_link_tag 'auth/users/sessions', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'auth/users/sessions', 'data-turbolinks-track': 'reload' %>
  <script>
      $(document).on('turbolinks:load', function () {
          <%= yield :script %>
      });
  </script>
</head>

<body style="background-color: #f7f8fc !important;">

<div class="container" style="min-height: 90%;">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card"
         src="<%= asset_path 'favicon_master.png' %>"/>

    <div class="row justify-content-center">
      <div class="col-8">
        <%= render partial: 'app/logo', locals: { logo: true, size: 'large' } %>
      </div>
    </div>

    <div class="mt-4">
      <%= render partial: 'app/flash_messages', locals: { flash: flash } %>
    </div>


    <div class="row mt-4">
      <div class="col">
        <%= yield %>
      </div>
    </div>

  </div><!-- /card-container -->
</div><!-- /container -->

<%= render partial: 'site/footer' %>
