<!DOCTYPE html>
<html lang="en">

<%#= render partial: 'app/tools/drift_script' %>

<head>
  <meta name="google-site-verification" content="6oH8MgwErUu88JAtE8Ltu5renH8OgHtgYMjlou09yuo" />

  <%= render partial: 'app/tools/google_analytics' %>

  <title>ResourceNote | Organise your research </title>

  <%= render partial: 'app/title',
             locals:  {
                 title: 'Organise your research'
             }
  %>


  <%= stylesheet_link_tag 'site/welcome',
                          'https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic',
                          media:                   'all',
                          'data-turbolinks-track': 'reload'
  %>

  <%= javascript_include_tag 'site/welcome',
                             'data-turbolinks-track': 'reload'
  %>

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <script>
      $(document).on('turbolinks:load', function () {
          <%= yield :script %>
      });
  </script>
</head>

<body style="background-color: #f7f8fc !important;">
<!-- Navigation -->
<!--<nav class="navbar navbar-light bg-light static-top">-->
<div class="container">
  <nav class="navbar fixed-top navbar-light">
    <div class="ml-auto">
        <span class="request-link request-link-small">
          <%#= link_to 'Request Early Access', 'http://bit.ly/theme-notes' %>
          <%= link_to 'Sign up', new_user_registration_path %>
        </span>
      <span class="session-btn span3">
          <%= link_to 'Log in',
                      new_user_session_path,
                      class: 'btn session-btn' %>
        </span>
    </div>
  </nav>
</div>


<%= yield :logo %>

<!--<section>-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col">-->
        <%#= render partial: 'app/logo', locals: {logo: true}  %>
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<%= yield %>


<!-- Footer -->
<%= render partial: 'site/footer' %>


</body>

</html>
